<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= vair.dvVadasPav %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/vair/<%= vair._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="vair[vairkodas]" value="<%= vair.vairkodas %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="vair[ipadkodas]" value="<%= vair.ipadkodas %>" readonly>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="vair[vairVardPav]" value="<%= vair.vairVardPav %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="vair[vairVard]" value="<%= vair.vairVard %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="vair[vairPav]" value="<%= vair.vairPav %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Pakeisti !</button>
                </div>
            </form>
            <a href="/vair">Atgal</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

