<% include ../partials/header %>
    <form action="/vair/<%= vair._id %>?_method=PUT" method="POST" class="form-horizontal">
        <fieldset>
            <a href="/vair"><i class="fa fa-arrow-left" aria-hidden="true"></i> Atgal į vairuotojų sąrašą </a>
            <!-- Form Name -->
            <legend>Redaguoti Vairuotojo
                <%= vair.vairVardPav %> duomenis:

            </legend>

            <!-- Text input-->
            <div class="form-group" hidden>
                <label class="col-md-4 control-label" for="vair[doc]">vairuot</label>
                <div class="col-md-4">
                    <input id="vair[doc]" name="vair[doc]" type="text" placeholder="vairuot" class="form-control input-md" value="vairuot">
                    <span class="help-block">vairuot</span>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="vair[ipadkodas]">Padlinys</label>
                <div class="col-md-4">
                    <select id="vair[ipadkodas]" name="vair[ipadkodas]" class="form-control">
                        <option value="<%= vair.ipadkodas %>">
                            <% pad.forEach(function(pad){ %>
                                <option value="<%= pad.padkodas %>">
                                    <%= pad.padkodas %>
                                </option>
                                <% }); %>
                    </select>
                    <span class="help-block">Pasirinkite padalinį</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="vair[vairkodas]">Vairuotojo kodas</label>
                <div class="col-md-4">
                    <input id="vair[vairkodas]" name="vair[vairkodas]" type="text" placeholder="Vairuotojo kodas" class="form-control input-md"
                        value="<%= vair.vairkodas %>">
                    <span class="help-block">Įrašykite vairuotojo kodą</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="vair[vairVardPav]">Vairuotojo vardas pavarde</label>
                <div class="col-md-4">
                    <input id="vair[vairVardPav]" name="vair[vairVardPav]" type="text" placeholder="Vairuotojo vardas pavarde" class="form-control input-md"
                        value="<%= vair.vairVardPav %>">
                    <span class="help-block">Įrašykite vardą ir pavardę</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="vair[vairVard]">Vairuotojo vardas</label>
                <div class="col-md-4">
                    <input id="vair[vairVard]" name="vair[vairVard]" type="text" placeholder="Vairuotojo vardas" class="form-control input-md"
                        value=" <%= vair.vairVard %>">
                    <span class="help-block">Įrašykite Vardą</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="vair[vairPav]">Vairuotojo pavardė</label>
                <div class="col-md-4">
                    <input id="vair[vairPav]" name="vair[vairPav]" type="text" placeholder="Vairuotojo pavardė" class="form-control input-md"
                        value="<%= vair.vairPav %>">
                    <span class="help-block">Įrašykite Pavardę</span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"> Redaguoti</label>
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i> REDAGUOTI</button>
                </div>
            </div>

        </fieldset>
    </form>
    <hr>
    <small> Sukūrė
        <a href="/users/<%= vair.author.id %>">
            <%= vair.author.username %>
        </a>
    </small>
    </p>
    <% include ../partials/footer %>