<% include ../partials/header %>

    <form action="/vair/<%= vair._id %>?_method=PUT" method="POST" class="data-editForm">
        <legend class="data-editForm__legend">Redaguoti vairuotojo duomenis:
            <%= vair.vairVardPav %>
        </legend>
        <a href="/vair" class="data-editForm__link">
            <svg class="data-editForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg> Atgal į Vairuotojų sąrašą</a>
        </a>
        <!-- Form Name -->

        <div class="data-editForm__content">
            <!-- Text input-->
            <div class="data-editForm__content__input--hidden">
                <label class="data-editForm__content__input--label" for="doc">Text Input</label>
                <div class="data-editForm__content__input--body">
                    <input id="vair[doc]" name="vair[doc]" type="text" placeholder="vairuot" class="data-editForm__content__input--body--text"
                        value="vairuot">
                    <span class="data-editForm__content__input--body--span">vairuot</span>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="data-editForm__content__input">
                <label class="data-editForm__content__input--label" for="vair[ipadkodas]">Padlinys</label>
                <div class="data-editForm__content__input--body">
                    <select id="vair[ipadkodas]" name="vair[ipadkodas]" class="data-editForm__content__input--body--text">
                        <option value="<%= vair.ipadkodas %>">
                            <% pad.forEach(function(pad){ %>
                                <option value="<%= pad.padkodas %>">
                                    <%= pad.padkodas %>
                                </option>
                                <% }); %>
                    </select>
                    <span class="data-editForm__content__input--body--span">pasirinkite padalinį</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-editForm__content__input">
                <label class="data-editForm__content__input--label" for="vair[vairkodas]">Vairuotojo kodas</label>
                <div class="data-editForm__content__input--body">
                    <input id="vair[vairkodas]" name="vair[vairkodas]" type="text" placeholder="Vairuotojo kodas" class="data-editForm__content__input--body--text input-md"
                        value="<%= vair.vairkodas %>">
                    <span class="data-editForm__content__input--body--span">Įrašykite vairuotojo kodą</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-editForm__content__input">
                <label class="data-editForm__content__input--label" for="vair[vairVardPav]">Vairuotojo vardas pavardė</label>
                <div class="data-editForm__content__input--body">
                    <input id="vair[vairVardPav]" name="vair[vairVardPav]" type="text" placeholder="Vairuotojo vardas pavardė" class="data-editForm__content__input--body--text input-md"
                        value="<%= vair.vairVardPav %>">
                    <span class="data-editForm__content__input--body--span">Įrašykite vardą ir pavardę</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-editForm__content__input">
                <label class="data-editForm__content__input--label" for="vair[vairVard]">Vairuotojo vardas</label>
                <div class="data-editForm__content__input--body">
                    <input id="vair[vairVard]" name="vair[vairVard]" type="text" placeholder="Vairuotojo vardas" class="data-editForm__content__input--body--text input-md"
                        value=" <%= vair.vairVard %>">
                    <span class="data-editForm__content__input--body--span">Įrašykite vardą</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-editForm__content__input">
                <label class="data-editForm__content__input--label" for="vair[vairPav]">Vairuotojo pavardė</label>
                <div class="data-editForm__content__input--body">
                    <input id="vair[vairPav]" name="vair[vairPav]" type="text" placeholder="Vairuotojo pavardė" class="data-editForm__content__input--body--text input-md"
                        value="<%= vair.vairPav %>">
                    <span class="data-editForm__content__input--body--span">Įrašykite pavardę</span>
                </div>
            </div>

            <!-- Button -->
            <div class="data-editForm__button">
                <button name="submit" class="data-editForm__button--submit ">
                    <svg class="data-editForm__button--submit--icon">
                        <use xlink:href="/img/sprite.svg#icon-new-message">
                    </svg> Redaguoti
                </button>
            </div>
        </div>
    </form>
    <small> Sukūrė
        <a href="/users/<%= vair.author.id %>">
            <%= vair.author.username %>
        </a>
    </small>

    <% include ../partials/footer %>