<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Transporto valdymo modulis!</h1>
             <p>Vairuotojai</p>
             <p>
                <a class="btn btn-primary btn-large" href="/vair/new">Naujas vairuotojas</a>
                <a class="btn btn-primary btn-large" href="/vair/import">Import Vairuotojus</a>
             </p>
         </div>
     </header>
     
     <div class="container">
         <table class="table table-hover"> 
          <thead>
            <tr>
              <th>Vairuotojo kodas</th>
              <th>Vardas Pavarde</th>
              <th>Padalinio kodas</th>
              <th>Redaguoti</th>
              <th>Trinti</th>
            </tr>
          </thead>
          <tbody>
            <% allvair.forEach(function(allvair){ %>
            <tr>
                <td><%= allvair.vairkodas %></td>
                <td><%= allvair.vairVardPav %></td>
                <td><%= allvair.ipadkodas %></td>
                <td><a class="btn btn-xs btn-warning" href="/vair/<%= allvair._id%>/edit">REDAGUOTI</a>
                <td>
                    <form id="delete-form" action="/vair/<%=allvair._id%>?_method=DELETE" , method=POST>
                        <button class="btn btn-xs btn-danger">TRINTI</button>
                    </form> 
                </td>
            </tr>
            <% }); %>
          </tbody>
    </table>
</div>

<% include ../partials/footer %>
