<% include ../partials/header %>

    <div class="page-header">
        <h1>VAIRUOTOJAI
            <small>Sukurti naują, redaguoti, trinti</small>
            <p>
                <a class="btn btn-primary btn-large" href="/vair/new">Naujas vairuotojas</a>
                <a class="btn btn-primary btn-large" href="/vair/import">Importuoti Vairuotojus</a>
            </p>
        </h1>
    </div>
    <div class="row">
        <% allvair.forEach(function(allvair){ %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            <strong>
                                <%= allvair.vairVardPav %>
                            </strong>
                        </h3>
                        <h4>
                            <p>Tabelio Nr:
                                <%= allvair.vairkodas %>
                            </p>
                            <p> Padalinio kodas:
                                <%= allvair.ipadkodas %>
                            </p>
                        </h4>
                        <p>
                            <a href="/vair/<%= allvair._id%>/edit" class="btn btn-primary" role="button">REDAGUOTI</a>
                            <a href="/vair/<%= allvair._id %>" class="btn btn-primary">Detali INFO</a>
                            <form id="delete-form" action="/vair/<%=allvair._id%>?_method=DELETE" method=POST>
                                <button class="btn btn-danger">TRINTI</button>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>
    <% include ../partials/footer %>