<% include ../partials/header %>

    <div class="data">
        <div class="data__page-header--main">VAIRUOTOJAI
            <small class="data__page-header--second">Sukurti naują, redaguoti, trinti</small>
        </div>
        <p class="data__page-header--new-item">
            <a class="data__page-header--link" href="/vair/new">
                <svg class="data__page-header--icon">
                    <use xlink:href="img/sprite.svg#icon-new-message">
                </svg>Naujas vairuotojas</a>
            <a class="data__page-header--link" href="/vair/import">
                <svg class="data__page-header--icon">
                    <use xlink:href="img/sprite.svg#icon-new-message">
                </svg>Importuoti Vairuotojus</a>
        </p>
    </div>
    <div class="data__page-data">
        <% allvair.forEach(function(allvair){ %>
            <div class="data__page-data__main-tab">
                <div class="data__page-data__main-tab--header">
                    <%= allvair.vairVardPav %>
                </div>
                <div class="data__page-data__main-tab--content">Tabelio Nr:
                    <%= allvair.vairkodas %>
                </div>
                <div class="data__page-data__main-tab--content"> Padalinio kodas:
                    <%= allvair.ipadkodas %>
                </div>
                <a class="data__page-data__main-tab--detail" href="/vair/<%= allvair._id %>"> Detali informacija</a>
                <% if(currentUser && allvair.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="data__page-data__main-tab--buttons">
                        <a class="data__page-data__main-tab--buttons--edit" href="/vair/<%= allvair._id%>/edit"> REDAGUOTI</a>
                        <form class="data__page-data__main-tab--buttons--del" action="/vair/<%=allvair._id%>?_method=DELETE" method=POST>
                            <button class="data__page-data__main-tab--buttons--btn"> TRINTI</button>
                        </form>
                    </div>
                    <% }%>
            </div>
            <% }); %>
    </div>
    <% include ../partials/footer %>