<% include ../partials/header %>
    <legend class="data-editForm__legend">
        <%=vair.vairVardPav%>
    </legend>
    <a href="/dv" class="data-editForm__link">
        <svg class="data-editForm__link__icon">
            <use xlink:href="/img/sprite.svg#icon-back"></use>
        </svg> Atgal į vairuotojų sąrašą</a>
    </a>
    <div class="detailed-info__content">
        <div class="detailed-info__content__main">
            <header class="detailed-info__content__main__header">
                <span class="detailed-info__content__main__header--main">
                    Detalūs Vairuotojo duomenys
                </span>
                <% if(currentUser && vair.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="detailed-info__content__main__header__buttons">
                        <a class="detailed-info__content__main__header__buttons--editbtn" role="button" href="/vair/<%= vair._id %>/edit">REDAGUOTI</a>
                        <form class="detailed-info__content__main__header__buttons--delete-form" action="/vair/<%= vair._id %>?_method=DELETE" method="POST">
                            <button class="detailed-info__content__main__header__buttons--delbtn">
                                TRINTI</button>
                        </form>
                    </div>
                    <% }%>
            </header>

            <!-- Text input-->
            <div class="detailed-info__content__main__info">
                <label class="detailed-info__content__main__info--label" for="Trumpasįmonėskodas">Vardas</label>
                <div class="detailed-info__content__main__info--body" name="Trumpasįmonėskodas">
                    <%=vair.vairVard%>
                </div>
            </div>
            <div class="detailed-info__content__main__info">
                <label class="detailed-info__content__main__info--label" for="Trumpasįmonėskodas">Pavardė</label>
                <div class="detailed-info__content__main__info--body" name="Trumpasįmonėskodas">
                    <%=vair.vairPav%>
                </div>
            </div>
            <div class="detailed-info__content__main__info">
                <label class="detailed-info__content__main__info--label" for="Trumpasįmonėskodas">Pilnas Vardas</label>
                <div class="detailed-info__content__main__info--body" name="Trumpasįmonėskodas">
                    <%=vair.vairVardPav%>
                </div>
            </div>
            <div class="detailed-info__content__main__info">
                <label class="detailed-info__content__main__info--label" for="Trumpasįmonėskodas">Tabelio kodas</label>
                <div class="detailed-info__content__main__info--body" name="Trumpasįmonėskodas">
                    <%=vair.vairkodas%>
                </div>
            </div>
            <div class="detailed-info__content__main__info">
                <label class="detailed-info__content__main__info--label" for="Trumpasįmonėskodas">Padalinys</label>
                <div class="detailed-info__content__main__info--body" name="Trumpasįmonėskodas">
                    <%=vair.ipadkodas%>
                </div>
            </div>
        </div>
        <div class="detailed-info__content__ikainis">
            <header class="detailed-info__content__main__header">
                <span class="detailed-info__content__main__header--main">
                    Įkainis
                </span>
                <a class="detailed-info__content__main__header__buttons--editbtn" href="/vair/<%= vair._id %>/vairik/new">
                    Naujas Įkainis</a>
            </header>

            <% vair.ikainis.forEach(function(ikainis){ %>
                <div class="detailed-info__content__ikainis__content">
                    <div class="detailed-info__content__ikainis__content__main">
                        <label class="detailed-info__content__ikainis__content__main--label" for="darborusis">Darbo rūšis</label>
                        <div class="detailed-info__content__ikainis__content__main--body" name="darborusis">
                            <%= ikainis.idarbrus %>
                        </div>
                    </div>
                    <div class="detailed-info__content__ikainis__content__sub">
                        <label class="detailed-info__content__ikainis__content__sub--label" for="darboVntIkainis">Darbo įkainis

                        </label>
                        <div class="detailed-info__content__ikainis__content__main--body" name="darboVntIkainis">
                            <%= ikainis.idarbvnt %>,
                                <%= ikainis.vairikain %>
                        </div>
                    </div>
                    <div class="detailed-info__content__main__header--main">
                        <% if(currentUser && ikainis.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                            <form style="display: inline" action="/vair/<%=vair._id%>/vairik/<%=ikainis._id%>?_method=DELETE" method="POST" class="detailed-info__content__main__header__buttons--delete-form">
                                <button class="detailed-info__content__main__header__buttons--delbtn">TRINTI</button>
                            </form>
                            <a href="/vair/<%=vair._id%>/vairik/<%=ikainis._id%>/edit" class="detailed-info__content__main__header__buttons--editbtn"
                                role="button">
                                REDAGUOTI
                            </a>
                            <% } %>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <small class="author"> Sukūrė
        <a class="author--link" href="/users/<%= vair.author.id %>">
            <%= vair.author.username %>
        </a>
    </small>
    <% include ../partials/footer %>