<% include ../partials/header %>
    <div>
        <div class="row">
            <h1 style="text-align: center">Nauja transporto priemonė</h1>
            <div style="width: 30%; margin: 25px auto;">
                <a class="btn btn-default btn-xs" href="/autolen"><i class="fa fa-arrow-left" aria-hidden="true"></i> Atgal</a>
                <hr>
                <form action="/autolen" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="autolen[doc]" value="autolen" hidden>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="autolen[marke]" placeholder="markė">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="autolen[modelis]" placeholder="modelis">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="autolen[valstnr]" placeholder="valstybinis numeris">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="autolen[id]" placeholder="id">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="autolen[inventnr]" placeholder="inventorinis numeris">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="autolen[gammetai]" placeholder="gamybos metai">
                    </div>
                    <div class="form-group">
                        <select style="width: 100%; height: 34px" name="autolen[atsaking]" class="custom-select">
                     <option  selected>Pasirinkite ATSAKINGĄ asmenį</option>
                    <% data.forEach(function(data){ %>
                        <% if(data.vairVardPav !== undefined){ %>
                        <% console.log('Atsakingas: '+data.vairVardPav) %>
                        <option><%= data.vairVardPav %></option>
                        <% } %>
                    <% }); %>
                </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="autolen[baze]" placeholder="bazė">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="autolen[drcivil]" placeholder="draudimas civilinis">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="autolen[drkasko]" placeholder="draudimas kasko">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="autolen[euro]" placeholder="euro taršos lygis">
                    </div>
                    <div class="form-group">
                        <select style="width: 100%; height: 34px" name="autolen[ikurrusis]" class="custom-select">
                     <option  selected>Pasirinkite KURO rušį</option>
                    <% data.forEach(function(data){ %>
                        <% if(data.kurrusis !== undefined){ %>
                        <% console.log('Kuro rusis: '+data.kurrusis) %>
                        <option><%= data.kurrusis %></option>
                        <% } %>
                    <% }); %>
                </select>
                    </div>
                    <div class="form-group">
                        <select style="width: 100%; height: 34px" name="autolen[ipadkodas]" class="custom-select">
                     <option  selected>Pasirinkite Padlinį</option>
                    <% data.forEach(function(data){ %>
                        <% if(data.padkodas !== undefined){ %>
                        <% console.log('Padalinio Kodas: '+data.padkodas) %>
                        <option><%= data.padkodas %></option>
                        <% } %>
                    <% }); %>
                </select>
                    </div>
                    <div class="form-group">
                        <select style="width: 100%; height: 34px" name="autolen[ipagvair]" class="custom-select">
                     <option  selected>Pasirinkite pagr vairuotoją</option>
                    <% data.forEach(function(data){ %>
                        <% if(data.vairVardPav !== undefined){ %>
                        <% console.log('Pagrindinis Vairuotojas: '+data.vairVardPav) %>
                        <option><%= data.vairVardPav %></option>
                        <% } %>
                    <% }); %>
                </select>
                    </div>
                    <div class="form-group">
                        <select style="width: 100%; height: 34px" name="autolen[itrrus]" class="custom-select">
                     <option  selected>Pasirinkite priemonės rūšį</option>
                    <% data.forEach(function(data){ %>
                        <% if(data.trrus !== undefined){ %>
                        <% console.log('Transporto rusis: '+data.trrus) %>
                        <option><%= data.trrus %></option>
                        <% } %>
                    <% }); %>
                </select>
                    </div>
                    <div class="form-group">
                        <select style="width: 100%; height: 34px" name="autolen[itrtipas]" class="custom-select">
                     <option  selected>Pasirinkite Transporto priemonės tipą</option>
                    <% data.forEach(function(data){ %>
                        <% if(data.trtipas !== undefined){ %>
                        <% console.log('Transporto TIPAS: '+data.trtipas) %>
                        <option><%= data.trtipas %></option>
                        <% } %>
                    <% }); %>
                </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="autolen[vinjet]" placeholder="Kelių mokesčiai">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block"><i class="fa fa-plus" aria-hidden="true"></i> Sukurti</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>