<% include ../partials/header %>
    <form action="/autolen" method="POST" class="data-newForm">
        <legend class="data-newForm__legend">Naujas lengvasis automobilis</legend>
        <a href="/autolen" class="data-newForm__link">
            <svg class="data-newForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg> Atgal į tr. priemonių sąrašą </a>
        <!-- Form Name -->
        <div class="data-newForm__content">
            <!-- Text input-->
            <div class="data-newForm__content__input--hidden">
                <label class="data-newForm__content__input--label" for="autolen[doc]">autolen</label>
                <div class="data-newForm__content__input--body">
                    <input id="autolen[doc]" name="autolen[doc]" type="text" placeholder="autolen" class="data-newForm__content__input--body--text"
                        value="autolen">
                    <span class="data-newForm__content__input--body--span">autolen</span>
                </div>
            </div>
            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[marke]">Markė</label>
                <div class="data-newForm__content__input--body">
                    <input id="autolen[marke]" name="autolen[marke]" type="text" placeholder="Markė" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite automobilio markę</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[modelis]">Modelis</label>
                <div class="data-newForm__content__input--body">
                    <input id="autolen[modelis]" name="autolen[modelis]" type="text" placeholder="Modelis" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite automobilio modelį</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[valstnr]">Valstybinis numeris</label>
                <div class="data-newForm__content__input--body">
                    <input id="autolen[valstnr]" name="autolen[valstnr]" type="text" placeholder="Valstybinis numeris" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite automobilio valstybinį numerį</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[id]">ID</label>
                <div class="data-newForm__content__input--body">
                    <input id="autolen[id]" name="autolen[id]" type="text" placeholder="ID" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite automobilio ID (17 simbolių)</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[inventnr]">Inventorinis numeris</label>
                <div class="data-newForm__content__input--body">
                    <input id="autolen[inventnr]" name="autolen[inventnr]" type="text" placeholder="Inventorinis numeris" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite automobilio inventorinį numerį</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[gammetai]">Pagaminimo metai</label>
                <div class="data-newForm__content__input--body">
                    <input id="autolen[gammetai]" name="autolen[gammetai]" type="text" placeholder="Pagaminimo metai" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite automobilio pagaminimo metus</span>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[atsaking]">Atsakingas asmuo</label>
                <div class="data-newForm__content__input--body">
                    <select id="autolen[atsaking]" name="autolen[atsaking]" class="data-newForm__content__input--body--text">
                        <% data.forEach(function(data){ %>
                            <% if(data.vairVardPav !== undefined){ %>
                                <% console.log('Atsakingas: '+data.vairVardPav) %>
                                    <option value="<%= data.vairVardPav %>">
                                        <%= data.vairVardPav %>
                                    </option>
                                    <% } %>
                                        <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Pasirinkite atsakingą asmenį</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[baze]">Bazė</label>
                <div class="data-newForm__content__input--body">
                    <input id="autolen[baze]" name="autolen[baze]" type="text" placeholder="Bazė" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite automobilio bazę (G12, L13)</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[drcivil]">TPVCAP</label>
                <div class="data-newForm__content__input--body">
                    <input id="autolen[drcivil]" name="autolen[drcivil]" type="text" placeholder="TPVCAP" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite automobilio Civilinio draudiko pavadinimą</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[drkasko]">Kasko</label>
                <div class="data-newForm__content__input--body">
                    <input id="autolen[drkasko]" name="autolen[drkasko]" type="text" placeholder="Kasko" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite automobilio Kasko draudiko pavadinimas</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[euro]">Euro taršos lygis</label>
                <div class="data-newForm__content__input--body">
                    <input id="autolen[euro]" name="autolen[euro]" type="text" placeholder="Euro taršos lygis" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite automobilio trašos lygį</span>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[ikurrusis]">Kuro rūšis</label>
                <div class="data-newForm__content__input--body">
                    <select id="autolen[ikurrusis]" name="autolen[ikurrusis]" class="data-newForm__content__input--body--text">
                        <% data.forEach(function(data){ %>
                            <% if(data.kurrusis !== undefined){ %>
                                <% console.log('Kuro rusis: '+data.kurrusis) %>
                                    <option value="<%= data.kurrusis %>">
                                        <%= data.kurrusis %>
                                    </option>
                                    <% } %>
                                        <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Pasirinkite kuro rūšį</span>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[ipadkodas]">Padalinys</label>
                <div class="data-newForm__content__input--body">
                    <select id="autolen[ipadkodas]" name="autolen[ipadkodas]" class="data-newForm__content__input--body--text">
                        <% data.forEach(function(data){ %>
                            <% if(data.padkodas !== undefined){ %>
                                <% console.log('Padalinio Kodas: '+data.padkodas) %>
                                    <option value="<%= data.padkodas %>">
                                        <%= data.padkodas %>
                                    </option>
                                    <% } %>
                                        <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Pasirinkite padalinio kodą</span>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[ipagvair]">Paskirtas vairuotojas</label>
                <div class="data-newForm__content__input--body">
                    <select id="autolen[ipagvair]" name="autolen[ipagvair]" class="data-newForm__content__input--body--text">
                        <% data.forEach(function(data){ %>
                            <% if(data.vairVardPav !== undefined){ %>
                                <% console.log('Pagrindinis Vairuotojas: '+data.vairVardPav) %>
                                    <option value="<%= data.vairVardPav %>">
                                        <%= data.vairVardPav %>
                                    </option>
                                    <% } %>
                                        <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Paskirkite pagrindinį vairuotoją</span>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[itrrus]">Transporto pr. rūšis</label>
                <div class="data-newForm__content__input--body">
                    <select id="autolen[itrrus]" name="autolen[itrrus]" class="data-newForm__content__input--body--text">
                        <% data.forEach(function(data){ %>
                            <% if(data.trrus !== undefined){ %>
                                <% console.log('Transporto rusis: '+data.trrus) %>
                                    <option value="<%= data.trrus %>">
                                        <%= data.trrus %>
                                    </option>
                                    <% } %>
                                        <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Pasirinkite transporto priemonės rūšį </span>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[itrtipas]">Transporto priemonės tipas</label>
                <div class="data-newForm__content__input--body">
                    <select id="autolen[itrtipas]" name="autolen[itrtipas]" class="data-newForm__content__input--body--text">
                        <% data.forEach(function(data){ %>
                            <% if(data.trtipas !== undefined){ %>
                                <% console.log('Transporto TIPAS: '+data.trtipas) %>
                                    <option value="<%= data.trtipas %>">
                                        <%= data.trtipas %>
                                    </option>
                                    <% } %>
                                        <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Pasirinkite transporto priemonės tipą</span>
                </div>
            </div>
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="autolen[vinjet]">Kelių mokesčiai</label>
                <div class="data-newForm__content__input--body">
                    <input type="text" name="autolen[vinjet]" placeholder="Kelių mokesčiai" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite automobilio kelių mokesčio duomenis (kaina, galiojimo data...</span>
                </div>
            </div>
            <!-- Button -->
            <div class="data-editForm__button">
                <button name="submit" class="data-editForm__button--submit ">
                    <svg class="data-editForm__button--submit--icon">
                        <use xlink:href="/img/sprite.svg#icon-new-message">
                    </svg> Sukurti
                </button>
            </div>
        </div>
    </form>
    <% include ../partials/footer %>