<% include ../partials/header %>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Transporto valdymo modulis!</h1>
                <p>NUOMOTOS Transporto priemonės</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/autonuoma/new"><i class="fa fa-plus" aria-hidden="true"></i> Nauja transporto priemone</a>
                </p>
            </div>
        </header>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                </tr>
            </thead>
            <tbody>
                <% alltrnuom.forEach(function(trans){ %>
                    <tr>
                        <td><strong><%=trans.marke%></strong></td>
                        <td><strong><%=trans.modelis%></strong></td>
                        <td><strong><%=trans.valstnr%></strong></td>
                        <td><strong><%=trans.inventnr%></strong></td>
                        <td>
                            <% if(currentUser && trans.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <a class="btn   btn-warning" href="/autonuoma/<%= trans._id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i> REDAGUOTI</a>
                                <% }%>
                        </td>
                        <td>
                            <% if(currentUser && trans.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <form id="delete-form" action="/autonuoma/<%= trans._id %>?_method=DELETE" method="POST">
                                    <button class="btn   btn-danger"><i class="fa fa-trash-o"></i>  TRINTI</button>
                                </form>
                                <% }%>
                        </td>
                        <td><a href="/autonuoma/<%= trans._id %>" class="btn   btn-primary"><i class="fa fa-info" aria-hidden="true"></i> Detali informacija</a></td>
                        <td><a href="/autonuoma/<%= trans._id %>/krovkellap" class="btn   btn-primary">Kelionės lapai</a></td>
                        <% }); %>
                    </tr>
            </tbody>
        </table>
        <% include ../partials/footer %>