<% include ../partials/header %>

    <form action="/automm" method="POST" class="data-newForm">
        <legend class="data-newForm__legend">Nauja transporto priemonė</legend>
        <a href="/automm" class="data-newForm__link">
            <svg class="data-newForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg> Atgal į m.m. sąrašą </a>
        <!-- Form Name -->
        <div class="data-newForm__content">
            <!-- Text input-->
            <div class="data-newForm__content__input--hidden">
                <label class="data-newForm__content__input--label" for="automm[doc]">automm</label>
                <div class="data-newForm__content__input--body">
                    <input id="automm[doc]" name="automm[doc]" type="text" placeholder="automm" class="data-newForm__content__input--body--text"
                        value="automm">
                    <span class="data-newForm__content__input--body--span">automm</span>
                </div>
            </div>
            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="automm[idvVardasPav]">Pasirinkite ATSAKINGĄ asmenį</label>
                <div class="data-newForm__content__input--body">
                    <select id="automm[idvVardasPav]" name="automm[idvVardasPav]" class="data-newForm__content__input--body--text">
                        <% data.forEach(function(data){ %>
                            <% if(data.dvVardasPav !== undefined){ %>
                                <% console.log('Atsakingas: '+data.dvVardasPav) %>
                                    <option value="<%= data.dvVardasPav %>">
                                        <%= data.dvVardasPav %>
                                    </option>
                                    <% } %>
                                        <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Pasirinkite atsakingą asmenį</span>
                </div>
            </div>
            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="automm[ikurrusis]">Kuro rūšis</label>
                <div class="data-newForm__content__input--body">
                    <select id="automm[ikurrusis]" name="automm[ikurrusis]" class="data-newForm__content__input--body--text">
                        <% data.forEach(function(data){ %>
                            <% if(data.kurrusis !== undefined){ %>
                                <% console.log('Kuro rusis: '+data.kurrusis) %>
                                    <option value="<%= data.kurrusis %>">
                                        <%= data.kurrusis %>
                                    </option>
                                    <% } %>
                                        <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Pasirinkite kuro rūšį</span>
                </div>
            </div>
            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="automm[ipadkodas]">Padalinys</label>
                <div class="data-newForm__content__input--body">
                    <select id="automm[ipadkodas]" name="automm[ipadkodas]" class="data-newForm__content__input--body--text">
                        <% data.forEach(function(data){ %>
                            <% if(data.padkodas !== undefined){ %>
                                <% console.log('Padalinio Kodas: '+data.padkodas) %>
                                    <option value="<%= data.padkodas %>">
                                        <%= data.padkodas %>
                                    </option>
                                    <% } %>
                                        <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Pasirinkite padalinio kodą</span>
                </div>
            </div>
            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="automm[itrrus]">Transporto pr. rūšis</label>
                <div class="data-newForm__content__input--body">
                    <select id="automm[itrrus]" name="automm[itrrus]" class="data-newForm__content__input--body--text">
                        <% data.forEach(function(data){ %>
                            <% if(data.trrus !== undefined){ %>
                                <% console.log('Transporto rusis: '+data.trrus) %>
                                    <option value="<%= data.trrus %>">
                                        <%= data.trrus %>
                                    </option>
                                    <% } %>
                                        <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Pasirinkite transporto priemonės rūšį </span>
                </div>
            </div>




            <!-- Button -->
            <div class="data-editForm__button">
                <button name="submit" class="data-editForm__button--submit ">
                    <svg class="data-editForm__button--submit--icon">
                        <use xlink:href="/img/sprite.svg#icon-new-message">
                    </svg> Sukurti
                </button>
            </div>
        </div>
    </form>
    <% include ../partials/footer %>