<% include ../partials/header %>
    <div class='container'>
        <header class="jumbotron">
            <div class="container">
                <h1>Transporto valdymo modulis!</h1>
                <h3>Detalūs krovininio automobilio duomenys</h3>
            </div>
        </header>
    </div>
    <div class="container">
        <div class='row'>
            <div class='col'>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>1</th>
                            <th>2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Markė:</td>
                            <td><strong><%=autokrov.marke%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Modelis:</td>
                            <td><strong><%=autokrov.modelis%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Valstybinis numers:</td>
                            <td><strong><%=autokrov.valstnr%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>ID:</td>
                            <td><strong><%=autokrov.id%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Inventorinis numeris:</td>
                            <td><strong><%=autokrov.inventnr%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Gamybos metai:</td>
                            <td><strong><%=autokrov.gammetai%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>Atsakingas asmuo:</td>
                            <td><strong><%=autokrov.atsaking%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">13</th>
                            <td>bazė:</td>
                            <td><strong><%=autokrov.baze%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">14</th>
                            <td>Civilinis draudimas:</td>
                            <td><strong><%=autokrov.drcivil%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">15</th>
                            <td>Kasko drudimas:</td>
                            <td><strong><%=autokrov.drkasko%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">17</th>
                            <td>Euro taršos lygis:</td>
                            <td><strong><%=autokrov.euro%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">12</th>
                            <td>Kuro rūšis:</td>
                            <td><strong><%=autokrov.ikurrusis%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td>Padalinys:</td>
                            <td><strong><%=autokrov.ipadkodas%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">18</th>
                            <td>Pagrindinis paskirtas vairuotojas:</td>
                            <td><strong><%=autokrov.ipagvair%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Transporto pr rūšis:</td>
                            <td><strong><%=autokrov.itrrus%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Transporto pr tipas:</td>
                            <td><strong><%=autokrov.itrtipas%></strong></td>
                        </tr>
                        <tr>
                            <th scope="row">16</th>
                            <td>Kelių mokestis - Vinjetė:</td>
                            <td><strong><%=autokrov.vinjet%></strong></td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <% if(currentUser && autokrov.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <a class="btn btn-xs btn-warning" href="/autokrov/<%= autokrov._id %>/edit">Redaguoti</a>
                    <form id="delete-form" action="/autokrov/<%= autokrov._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Istrinti</button>
                    </form>
                    <% }%>
                        <a href="/autokrov">Atgal</a>
            </div>
            <div class='col'>
                <div class="well">
                    <h2>IKAINIAI</h2>
                    <div class="text-right">
                        <a class="btn btn-success" href="/autokrov/<%= autokrov._id %>/autoik/new">Naujas Ikainis</a>
                    </div>
                    <hr>
                    <% autokrov.ikainis.forEach(function(ikainis){ %>
                        <div>
                            <div>
                                <strong><%= ikainis.author.username %></strong>
                            </div>
                            <%= ikainis.idarbrus %>
                                <%= ikainis.idarbvnt %>
                                    <%= ikainis.trikain %>
                                        <% if(currentUser && ikainis.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                            <form style="display: inline" class="pull-right" action="/autokrov/<%=autokrov._id%>/autoik/<%=ikainis._id%>?_method=DELETE" method="POST">
                                                <button class="btn btn-xs btn-danger">Trinti</button>
                                                <a href="/autokrov/<%=autokrov._id%>/autoik/<%=ikainis._id%>/edit" class="btn btn-xs btn-info">Redaguoti</a>
                                            </form>
                                            <% } %>
                                                <% }) %>
                        </div>
                </div>
            </div>
        </div>

        <p><em> Sukurė <%= autokrov.author.username %></em></p>

        <% include ../partials/footer %>