<% include ../partials/header %>
    <legend class="data-editForm__legend">
        Transporto valdymo modulis

    </legend>
    <a href="/autokrov" class="data-editForm__link">
        <svg class="data-editForm__link__icon">
            <use xlink:href="/img/sprite.svg#icon-back"></use>
        </svg> Atgal</a>
    </a>
    <div class="detailed-info__content">
        <div class="detailed-info__content__main">
            <header class="detailed-info__content__main__header">
                <span class="detailed-info__content__main__header--main">
                    Detalūs krovininio automobilio duomenys
                </span>
                <% if(currentUser && autokrov.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="detailed-info__content__main__header__buttons">
                        <a class="detailed-info__content__main__header__buttons--editbtn" role="button" href="/autokrov/<%= autokrov._id %>/edit">
                            REDAGUOTI</a>
                        <form class="detailed-info__content__main__header__buttons--delete-form" action="/autokrov/<%= autokrov._id %>?_method=DELETE"
                            method="POST">
                            <button class="detailed-info__content__main__header__buttons--delbtn">
                                TRINTI</button>
                        </form>
                    </div>
                    <% }%>
            </header>
            <!-- Text input-->
            <div class="detailed-info__content__main__info">
                <label class="detailed-info__content__main__info--label" for="Markė">Markė</label>
                <div class="detailed-info__content__main__info--body" name="Markė">
                    <%=autokrov.marke%>
                </div>
            </div>
            <div class="detailed-info__content__main__info">
                <label class="detailed-info__content__main__info--label" for="Modelis">Modelis</label>
                <div class="detailed-info__content__main__info--body" name="Modelis">
                    <%=autokrov.modelis%>
                </div>
            </div>
            <div class="detailed-info__content__main__info">
                <label class="detailed-info__content__main__info--label" for="Valstybinisnumers">Valstybinis numers</label>
                <div class="detailed-info__content__main__info--body" name="Valstybinisnumers">
                    <%=autokrov.valstnr%>
                </div>
            </div>
            <div class="detailed-info__content__main__info">
                <label class="detailed-info__content__main__info--label" for="ID">ID</label>
                <div class="detailed-info__content__main__info--body" name="ID">
                    <%=autokrov.id%>
                </div>
            </div>
            <div class="detailed-info__content__main__info">
                <label class="detailed-info__content__main__info--label" for="Inventorinisnumeris">Inventorinis numeris</label>
                <div class="detailed-info__content__main__info--body" name="Inventorinisnumeris">
                    <%=autokrov.inventnr%>
                </div>
            </div>
            <div class="detailed-info__content__main__info">
                <label class="detailed-info__content__main__info--label" for="Gamybosmetai">Gamybos metai</label>
                <div class="detailed-info__content__main__info--body" name="Gamybosmetai">
                    <%=autokrov.gammetai%>
                </div>
            </div>
            <div class="detailed-info__content__main__info">
                <label class="detailed-info__content__main__info--label" for="Atsakingasasmuo">Atsakingas asmuo</label>
                <div class="detailed-info__content__main__info--body" name="Atsakingasasmuo">
                    <%=autokrov.atsaking%>
                </div>
            </div>


            <th scope="row">13</th>
            <td>bazė:</td>
            <td>
                <strong>
                    <%=autokrov.baze%>
                </strong>
            </td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td>Civilinis draudimas:</td>
                <td>
                    <strong>
                        <%=autokrov.drcivil%>
                    </strong>
                </td>
            </tr>
            <tr>
                <th scope="row">15</th>
                <td>Kasko drudimas:</td>
                <td>
                    <strong>
                        <%=autokrov.drkasko%>
                    </strong>
                </td>
            </tr>
            <tr>
                <th scope="row">17</th>
                <td>Euro taršos lygis:</td>
                <td>
                    <strong>
                        <%=autokrov.euro%>
                    </strong>
                </td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>Kuro rūšis:</td>
                <td>
                    <strong>
                        <%=autokrov.ikurrusis%>
                    </strong>
                </td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Padalinys:</td>
                <td>
                    <strong>
                        <%=autokrov.ipadkodas%>
                    </strong>
                </td>
            </tr>
            <tr>
                <th scope="row">18</th>
                <td>Pagrindinis paskirtas vairuotojas:</td>
                <td>
                    <strong>
                        <%=autokrov.ipagvair%>
                    </strong>
                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Transporto pr rūšis:</td>
                <td>
                    <strong>
                        <%=autokrov.itrrus%>
                    </strong>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Transporto pr tipas:</td>
                <td>
                    <strong>
                        <%=autokrov.itrtipas%>
                    </strong>
                </td>
            </tr>
            <tr>
                <th scope="row">16</th>
                <td>Kelių mokestis - Vinjetė:</td>
                <td>
                    <strong>
                        <%=autokrov.vinjet%>
                    </strong>
                </td>
            </tr>
            </tbody>
            </table>
            //
            <hr>
            <% if(currentUser && autokrov.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                <a class="btn   btn-warning" href="/autokrov/<%= autokrov._id %>/edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i> REDAGUOTI</a>
                <form id="delete-form" action="/autokrov/<%= autokrov._id %>?_method=DELETE" method="POST">
                    <button class="btn   btn-danger">
                        <i class="fa fa-trash-o"></i> TRINTI</button>
                </form>
                <% }%>
                    <a href="/autokrov">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Atgal</a>
        </div>
        <div class='col'>
            <div class="well">
                <h2>IKAINIAI</h2>
                <div class="text-right">
                    <a class="btn btn-success" href="/autokrov/<%= autokrov._id %>/autoik/new">
                        <i class="fa fa-plus" aria-hidden="true"></i> Naujas Įkainis</a>
                </div>
                //
                <hr>
                <% autokrov.ikainis.forEach(function(ikainis){ %>
                    <div>
                        <div>
                            <strong>
                                <a href="/users/<%= ikainis.author.id %>">
                                    <%= ikainis.author.username %>
                                </a>
                            </strong>
                        </div>
                        <%= ikainis.idarbrus %>
                            <%= ikainis.idarbvnt %>
                                <%= ikainis.trikain %>
                                    <% if(currentUser && ikainis.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                        <form style="display: inline" class="pull-right" action="/autokrov/<%=autokrov._id%>/autoik/<%=ikainis._id%>?_method=DELETE"
                                            method="POST">
                                            <button class="btn   btn-danger">
                                                <i class="fa fa-trash-o"></i> TRINTI</button>
                                            <a href="/autokrov/<%=autokrov._id%>/autoik/<%=ikainis._id%>/edit" class="btn   btn-info">
                                                <i class="fa fa-pencil" aria-hidden="true"></i> REDAGUOTI</a>
                                        </form>
                                        <% } %>
                                            <% }) %>
                    </div>
            </div>
        </div>
    </div>

    <p>
        <em> Sukurė
            <a href="/users/<%= autokrov.author.id %>">
                <%= autokrov.author.username %>
            </a>
        </em>
    </p>

    <% include ../partials/footer %>