<% include ../partials/header %>
    <h1>
        <%=vair.vairVardPav%>
    </h1>
    <a href="/vair">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Atgal į vairuotojų sąrašą </a>
    <hr>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h1> Detalūs Vairuotojo duomenys
            </h1>
            <!-- <p> -->
            <div class="panel-footer">
                <% if(currentUser && vair.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <form id="delete-form" action="/vair/<%= vair._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">
                            <i class="fa fa-trash-o"></i> TRINTI</button>
                        <a class="btn btn-primary" role="button" href="/vair/<%= vair._id %>/edit">
                            <i class="fa fa-pencil" aria-hidden="true"></i> REDAGUOTI</a>
                    </form>
                    <% }%>
            </div>
            </p>
        </div>
        <!-- Table -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Eil. Nr.</th>
                    <th>Pavadinimas </th>
                    <th>Duomenys </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Vardas:</td>
                    <td>
                        <strong>
                            <%=vair.vairVard%>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Pavardė:</td>
                    <td>
                        <strong>
                            <%=vair.vairPav%>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Pilnas Vardas</td>
                    <td>
                        <strong>
                            <%=vair.vairVardPav%>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Tabelio kodas:</td>
                    <td>
                        <strong>
                            <%=vair.vairkodas%>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Padalinys:</td>
                    <td>
                        <strong>
                            <%=vair.ipadkodas%>
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- <hr> -->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h1> Įkainis</h1>
            <a class="btn btn-success" href="/vair/<%= vair._id %>/vairik/new">
                <i class="fa fa-plus" aria-hidden="true"></i> Naujas Įkainis</a>
        </div>
        <% vair.ikainis.forEach(function(ikainis){ %>
            <h4>
                <%= ikainis.idarbrus %>
                    <%= ikainis.idarbvnt %>
                        <%= ikainis.vairikain %>
                            <% if(currentUser && ikainis.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <form style="display: inline" action="/vair/<%=vair._id%>/vairik/<%=ikainis._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash-o"></i> TRINTI</button>
                                    <a href="/vair/<%=vair._id%>/vairik/<%=ikainis._id%>/edit" a class="btn btn-sm btn-primary" role="button">
                                        <i class="fa fa-pencil" aria-hidden="true"></i> REDAGUOTI</a>
                                </form>
                                <% } %>
                                    <% }) %>
            </h4>
    </div>
    <small> Sukūrė
        <a href="/users/<%= vair.author.id %>">
            <%= vair.author.username %>
        </a>
    </small>
    </p>
    <% include ../partials/footer %>