<% include ../partials/header %>
    <form action="/automech/<%= automech._id %>?_method=PUT" method="POST" class="data-editForm">
        <legend class="data-editForm__legend">Redaguoti
            <%= automech.marke %>
                <%= automech.modelis %>
                    <%= automech.valstnr %>
        </legend>
        <a href="/automech" class="data-editForm__link">
            <svg class="data-editForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg> Atgal į mechanizmų sąrašą</a>
        </a>
        <div class="data-editForm__content">
            <!-- Text input-->
            <div class="data-editForm__content__input--hidden" hidden>
                <input class="data-editForm__content__input--body--text" type="text" name="automech[doc]" value="automech">
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[marke]">Markė</label>
                <div class="data-newForm__content__input--body">
                    <input class="data-editForm__content__input--body--text" type="text" name="automech[marke]" placeholder="markė" value="<%= automech.marke %>">
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[modelis]">Modelis</label>
                <div class="data-newForm__content__input--body">
                    <input class="data-editForm__content__input--body--text" type="text" name="automech[modelis]" placeholder="modelis" value="<%= automech.modelis %>">
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[valstnr]">Valstybinis numeris</label>
                <div class="data-newForm__content__input--body">
                    <input class="data-editForm__content__input--body--text" type="text" name="automech[valstnr]" placeholder="valstybinis numeris"
                        value="<%= automech.valstnr %>">
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[id]">ID</label>
                <div class="data-newForm__content__input--body">
                    <input class="data-editForm__content__input--body--text" type="text" name="automech[id]" placeholder="id" value="<%= automech.id %>">
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[inventnr]">Inventorinis numeris</label>
                <div class="data-newForm__content__input--body">
                    <input class="data-editForm__content__input--body--text" type="text" name="automech[inventnr]" placeholder="inventorinis numeris"
                        value="<%= automech.inventnr %>">
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[gammetai]">Pagaminimo metai</label>
                <div class="data-newForm__content__input--body">
                    <input class="data-editForm__content__input--body--text" type="text" name="automech[gammetai]" placeholder="gamybos metai"
                        value="<%= automech.gammetai %>">
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[atsaking]">Atsakingas asmuo</label>
                <div class="data-newForm__content__input--body">
                    <select s name="automech[atsaking]" class="data-editForm__content__input--body--text">
                        <option selected>
                            <%= automech.atsaking %>
                        </option>
                        <% data.forEach(function(data){ %>
                            <% if(data.vairVardPav !== undefined){ %>
                                <option>
                                    <%= data.vairVardPav %>
                                </option>
                                <!-- ########## reikia sukurti vairuotojus *********** -->
                                <% } %>
                                    <% }); %>
                    </select>
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[baze]">Bazė</label>
                <div class="data-newForm__content__input--body">
                    <input class="data-editForm__content__input--body--text" type="text" name="automech[baze]" placeholder="bazė" value="<%= automech.baze %>">
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[drcivil]">TPVCAP</label>
                <div class="data-newForm__content__input--body">
                    <input class="data-editForm__content__input--body--text" type="text" name="automech[drcivil]" placeholder="draudimas civilinis"
                        value="<%= automech.drcivil %>">
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[drkasko]">Kasko</label>
                <div class="data-newForm__content__input--body">
                    <input class="data-editForm__content__input--body--text" type="text" name="automech[drkasko]" placeholder="draudimas kasko"
                        value="<%= automech.drkasko %>">
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[euro]">Euro taršos lygis</label>
                <div class="data-newForm__content__input--body">
                    <input class="data-editForm__content__input--body--text" type="text" name="automech[euro]" placeholder="euro taršos lygis"
                        value="<%= automech.euro %>">
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[ikurrusis]">Kuro rūšis</label>
                <div class="data-newForm__content__input--body">
                    <select s name="automech[ikurrusis]" class="data-editForm__content__input--body--text">
                        <option selected>
                            <%= automech.ikurrusis %>
                        </option>
                        <% data.forEach(function(data){ %>
                            <% if(data.kurrusis !== undefined){ %>
                                <% console.log(data.kurrusis) %>
                                    <option>
                                        <%= data.kurrusis %>
                                    </option>
                                    <% } %>
                                        <% }); %>
                    </select>
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[ipadkodas]">Padalinys</label>
                <div class="data-newForm__content__input--body">
                    <select s name="automech[ipadkodas]" class="data-editForm__content__input--body--text">
                        <option selected>
                            <%= automech.ipadkodas %>
                        </option>
                        <% data.forEach(function(data){ %>
                            <% if(data.padkodas !== undefined){ %>
                                <option>
                                    <%= data.padkodas %>
                                </option>
                                <% } %>
                                    <% }); %>
                    </select>
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[ipagvair]">Paskirtas vairuotojas</label>
                <div class="data-newForm__content__input--body">
                    <select s name="automech[ipagvair]" class="data-editForm__content__input--body--text">
                        <option selected>
                            <%= automech.ipagvair %>
                        </option>
                        <% data.forEach(function(data){ %>
                            <% if(data.vairVardPav !== undefined){ %>
                                <option>
                                    <%= data.vairVardPav %>
                                </option>
                                <% } %>
                                    <% }); %>
                    </select>
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[itrrus]">Transporto pr. rūšis</label>
                <div class="data-newForm__content__input--body">
                    <select s name="automech[itrrus]" class="data-editForm__content__input--body--text">
                        <option selected>
                            <%= automech.itrrus %>
                        </option>
                        <% data.forEach(function(data){ %>
                            <% if(data.trrus !== undefined){ %>
                                <option>
                                    <%= data.trrus %>
                                </option>
                                <% } %>
                                    <% }); %>
                    </select>
                </div>
            </div>
            <div class="data-editForm__content__input">
                <label class="data-newForm__content__input--label" for="autokr[itrtipas]">Transporto priemonės tipas</label>
                <div class="data-newForm__content__input--body">
                    <select s name="automech[itrtipas]" class="data-editForm__content__input--body--text">
                        <option selected>
                            <%= automech.itrtipas %>
                        </option>
                        <% data.forEach(function(data){ %>
                            <% if(data.trtipas !== undefined){ %>
                                <option>
                                    <%= data.trtipas %>
                                </option>
                                <% } %>
                                    <% }); %>
                    </select>
                </div>
            </div>
            <!-- Button -->
            <div class="data-editForm__button">
                <button name="submit" class="data-editForm__button--submit ">
                    <svg class="data-editForm__button--submit--icon">
                        <use xlink:href="/img/sprite.svg#icon-new-message">
                    </svg> Redaguoti
                </button>
            </div>
        </div>
    </form>

    <% include ../partials/footer %>