<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Transporto valdymo modulis</p>
            
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4><a><%=automech.marke%></a></h4>
                    <h4><a><%=automech.modelis%></a></h4>
                    <h4><a><%=automech.valstnr%></a></h4>
                    <p>
                        <em>Submitted By <%= automech.author.username %></em>
                    </p>
                    <% if(currentUser && automech.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-xs btn-warning" href="/automech/<%= automech._id %>/edit">Edit</a>
                        <form id="delete-form" action="/automech/<%= automech._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/automech/<%= automech._id %>/kellapas/new">Naujas keliones lapas</a>
                </div>
                <hr>
                <% automech.kellapas.forEach(function(kellapas){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= automech.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= automech.text %> 
                            </p>
                        <% if(currentUser && automech.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                            <a class="btn btn-xs btn-warning" 
                               href="/automech/<%=automech._id %>/kellapas/<%=kellapas._id %>/edit">Edit</a>
                            <form id="delete-form" action="/automech/<%=transport._id %>/kellapas/<%=kellapas._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <a class="btn btn-xs btn-default" href="/automech">Atgal</a>
</div>

<% include ../partials/footer %>