<% include ../partials/header %>
    <form action="/kellap/<%= kellapId %>/kur/<%=kurasId%>?_method=PUT" method="POST">
        <legend class="data-newForm__legend">Redaguoti Kura
                <%= data.marke %>
                    <%= data.modelis %>
                        <%= data.valstnr %>
        </legend>
        <a href="/kellap/<%= data._id %>/detail" class="data-newForm__link">
            <svg class="data-newForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg>Atgal</a>
        <a href='/autokrov/<%=data.autoObjectId%>' class="data-newForm__link">
            <svg class="data-newForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg>Automobilio duomenys</a>
        <!-- Form Name -->

        <div class="data-newForm__content">
            <!-- Text input-->
            <div class="data-newForm__content__input--hidden">
                <label class="data-newForm__content__input--label" for="doc">kellapajamos</label>
                <div class="data-newForm__content__input--body">
                    <input id="doc" name="kellap[doc]" value='kellkuras' type="text" placeholder="doc" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">kellapajamos</span>
                </div>
            </div>

             <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="kellap[ikurorusis]">Kuro kiekis</label>
                <div class="data-newForm__content__input--body">
                    <input name="kellap[ikurorusis]" type="text" placeholder="Kuro rūšis" class="data-newForm__content__input--body--text"
                        required="" value='<%=data.ikurrusis%>'>
                    <span class="data-newForm__content__input--body--span">įrašykite kuro kiekį</span>
                </div>
            </div>
            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="kellap[ikurouzpkodas]">Kuro kortelės kodas</label>
                <div class="data-newForm__content__input--body">
                    <select name="kellap[ikurouzpkodas]" class="data-newForm__content__input--body--text">
                        <option selected ><%=kuras.ikurouzpkodas%></option>
            <% kurosalt.forEach(function(data){ %>
              <% if(data.kurouzpkodas !== undefined){ %>
                                <option class="data-newForm__content__input--body--text">
                                    <%=data.kurouzpkodas%>
                                </option>
                                <% }; %>
                                    <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Pasirinkite kuro kortelę</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="Kiekis">Kuro kiekis</label>
                <div class="data-newForm__content__input--body">
                    <input  name="kellap[kiekiskur]" placeholder="Kiekis" class="data-newForm__content__input--body--text"
                        required="" value='<%=kuras.kiekiskur%>'>
                    <span class="data-newForm__content__input--body--span">įrašykite kuro kiekį</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="sumeur">Pylimo data</label>
                <div class="data-newForm__content__input--body">
                    <input id="dateofbirth" name="kellap[datekur]" type="date" class="data-newForm__content__input--body--text"
                        required="" value='<%=kuras.datekur%>'>
                    <span class="data-newForm__content__input--body--span">Pylimo data</span>
                </div>
            </div>



            <!-- Button -->
            <div class="data-editForm__button">
                <button name="submit" class="data-editForm__button--submit ">
                    <svg class="data-editForm__button--submit--icon">
                        <use xlink:href="/img/sprite.svg#icon-new-message">
                    </svg> Sukurti
                </button>
            </div>
        </div>
    </form>
    <% include ../partials/footer %>