<% include ../partials/header %>

    <div class="data">
        <div class="data__page-header--main">NUOMOTOS Transporto priemonės
            <br>
            <small class="data__page-header--second">Sukurti naują, redaguoti, trinti</small>
        </div>
        <p class="data__page-header--new-item">
            <a class="data__page-header--link" href="/autonuoma/new">
                <svg class="data__page-header--icon">
                    <use xlink:href="/img/sprite.svg#icon-new-message">
                </svg>Nauja transporto priemonė</a>
        </p>
        <p class="data__page-header--new-item">
            <a class="data__page-header--link" href="/kellap">
                <svg class="data__page-header--icon">
                    <use xlink:href="/img/sprite.svg#icon-new-message">
                </svg>Nuomotų transporto pr kelionės lapai</a>
        </p>
        <p class="data__page-header--new-item">
            <a class="data__page-header--link" href="/kellap/newkr">
                <svg class="data__page-header--icon">
                    <use xlink:href="/img/sprite.svg#icon-new-message">
                </svg>Naujas kelionės lapas</a>
        </p>
    </div>
    <div class="data__page-data">
        <% alltrnuom.forEach(function(trans){ %>
            <div class="data__page-data__main-tab">
                <div class="data__page-data__main-tab--header">
                    <%=trans.marke%>
                        <%=trans.modelis%>
                </div>
                <div class="data__page-data__main-tab--content">
                    Valst Nr.:
                    <%=trans.valstnr%>
                </div>
                <div class="data__page-data__main-tab--content">
                    Invent. Nr.:
                    <%=trans.inventnr%>
                </div>
                <a href="/autonuoma/<%= trans._id %>" class="data__page-data__main-tab--detail">
                    Detali informacija</a>
                <a href="/autonuoma/<%= trans._id %>/kellap" class="data__page-data__main-tab--detail">Kelionės lapai</a>

                <% if(currentUser && trans.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="data__page-data__main-tab--buttons">
                        <a class="data__page-data__main-tab--buttons--edit" href="/autonuoma/<%= trans._id %>/edit">REDAGUOTI</a>
                        <form class="data__page-data__main-tab--buttons--del" action="/autonuoma/<%= trans._id %>?_method=DELETE" method="POST">
                            <button class="data__page-data__main-tab--buttons--btn"> TRINTI</button>
                        </form>
                    </div>
                    <% }%>
            </div>
            <% }); %>
    </div>
    <% include ../partials/footer %>