<% include ../partials/header %>


    <div class="data">
        <div class="data__page-header--main">
            <%= kellap.marke %>
                <%= kellap.modelis %>
                    <%= kellap.valstnr %>
                        <%= kellap.inventnr %>
                            <br>
                            <small class="data__page-header--second">Keliones lapo data
                                <%= kellap.data %>
                            </small>
                            <p class="data__page-header--second">Kelionės lapo paskaita, pajamos iš objektų, kuro apskaita</p>
        </div>
        <a href="/kellap" class="data-editForm__link">
            <svg class="data-editForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg> Atgal</a>
    </div>
    <div class='kellap-detail__content'>
        <div class="kellap-detail__content__pajamos">
            <div class="kellap-detail__content__pajamos__header">
                PAJAMOS
            </div>
            <div class="kellap-detail__content__pajamos__content">
                <p class="kellap-detail__content__pajamos--newItem">
                    <a class="kellap-detail__content__pajamos--link" href="/kellap/<%=kellap._id%>/paj/new">
                        <svg class="data__page-header--icon">
                            <use xlink:href="/img/sprite.svg#icon-new-message">
                        </svg>Suvesti pajamas</a>
                </p>
                <div class="kellap-detail__content__pajamos__content__header">
                    <span class="kellap-detail__content__pajamos__content__header element-a">Darbo rūšis</span>
                    <span class="kellap-detail__content__pajamos__content__header element-b">Kiekis</span>
                    <span class="kellap-detail__content__pajamos__content__header element-b">Suma EUR</span>
                    <span class="kellap-detail__content__pajamos__content__header element-b">Objektas</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">DV parašas</span>
                    <span class="kellap-detail__content__pajamos__content__header element-c">Įmonė</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">
                        <span class="kellap-detail__content__pajamos__content__header element">Redaguoti</span>
                        <span class="kellap-detail__content__pajamos__content__header element">Trinti</span>
                    </span>
                </div>
                <% kellap.pajamos.forEach(function(pajamos){ %>
                    <div id="myData" class="kellap-detail__content__pajamos__content__body">
                        <div class="kellap-detail__content__pajamos__content__body--main element-a">
                            <%=pajamos.iadarbrus%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-b">
                            <%=pajamos.kiekis%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main  pajamos element-b">
                            <%=pajamos.sumeur%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-b">
                            <%=pajamos.iobjkodas%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-d">
                            <%=pajamos.idvVardasPav%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-c">
                            <%=pajamos.imonkodas%>
                        </div>
                        <% if(currentUser && pajamos.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                            <div class="kellap-detail__content__pajamos__content__buttons element-d">
                                <a class=" kellap-detail__content__pajamos__content__buttons--edit kellap-detail__content__pajamos__content__buttons" href="/kellap/<%= kellap._id %>/paj/<%=pajamos._id%>/edit">
                                    REDAGUOTI</a>
                                <form class="kellap-detail__content__pajamos__content__buttons--del " action="/kellap/<%= kellap._id %>/paj/<%=pajamos._id%>?_method=DELETE"
                                    method="POST">
                                    <button class="kellap-detail__content__pajamos__content__buttons--btn kellap-detail__content__pajamos__content__buttons">TRINTI</button>
                                </form>
                            </div>
                            <% }%>
                    </div>
                    <hr>
                    <% }); %>
                        <div class="kellap-detail__content__pajamos__content__footer">
                            <span>Gautų pajamų suma:
                                <span class="pajsuma"></span>
                                EUR
                            </span>

                        </div>


            </div>
        </div>
        <div class="kellap-detail__content__pajamos">
            <div class="kellap-detail__content__pajamos__header">
                KILOMTRAŽO PARODYMAI, KURO LIKUČIAI
            </div>
            <div class="kellap-detail__content__pajamos__content">
                <% if(kellap.rida[0] === undefined ){ %>
                    <p class="kellap-detail__content__pajamos--newItem">
                        <a class="kellap-detail__content__pajamos--link" href="/kellap/<%=kellap._id%>/rida/new">
                            <svg class="data__page-header--icon">
                                <use xlink:href="/img/sprite.svg#icon-new-message">
                            </svg>Suvesti kilometražą ir kuro likučius</a>
                    </p>
                    <% }%>
                        <% if(kellap.rida[0] !== undefined ){ %>
                            <div class="kellap-detail__content__pajamos__content__header">
                                <span class="kellap-detail__content__pajamos__content__header element-d">Spidomtras pr.</span>
                                <span class="kellap-detail__content__pajamos__content__header element-d">Spidomtras pab.</span>
                                <span class="kellap-detail__content__pajamos__content__header element-d">Rida km.</span>
                                <span class="kellap-detail__content__pajamos__content__header element-d">Kuro kiekis pr.</span>
                                <span class="kellap-detail__content__pajamos__content__header element-d">Kuro kiekis pab.</span>
                                <span class="kellap-detail__content__pajamos__content__header element-d">Kuro norma</span>
                                <span class="kellap-detail__content__pajamos__content__header element-d">Pakėlimų skaič.</span>
                                <span class="kellap-detail__content__pajamos__content__header element-d">Siurblio darbas val.</span>
                                <span class="kellap-detail__content__pajamos__content__header element-d">
                                    <span class="kellap-detail__content__pajamos__content__header element">Redaguoti</span>
                                    <span class="kellap-detail__content__pajamos__content__header element">Trinti</span>
                                </span>
                            </div>

                            <% kellap.rida.forEach(function(rida){ %>
                                <div id="myData" class="kellap-detail__content__pajamos__content__body">
                                    <div id="ridapr" class="kellap-detail__content__pajamos__content__body--main  element-d">
                                        <%=rida.ridapr%>
                                    </div>
                                    <div id="ridapab" class="kellap-detail__content__pajamos__content__body--main  element-d">
                                        <%=rida.ridapab%>
                                    </div>
                                    <div id="rida" class="kellap-detail__content__pajamos__content__body--main element-d">
                                        <span>RIDA</span>
                                    </div>
                                    <div class="kellap-detail__content__pajamos__content__body--main element-d">
                                        <%=rida.kuraspr%>
                                    </div>
                                    <div class="kellap-detail__content__pajamos__content__body--main element-d">
                                        <%=rida.kuraspab%>
                                    </div>
                                    <div class="kellap-detail__content__pajamos__content__body--main element-d">
                                        <span>KURO Norma</span>
                                    </div>
                                    <div class="kellap-detail__content__pajamos__content__body--main element-d">
                                        <%=rida.pakelimai%>
                                    </div>
                                    <div class="kellap-detail__content__pajamos__content__body--main element-d">
                                        <%=rida.siurblys%>
                                    </div>
                                    <% if(currentUser && kellap.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                        <div class="kellap-detail__content__pajamos__content__buttons element-d">
                                            <a class=" kellap-detail__content__pajamos__content__buttons--edit kellap-detail__content__pajamos__content__buttons" href="/kellap/<%= kellap._id %>/rida/<%=kellap.rida[0]._id%>/edit">
                                                REDAGUOTI</a>
                                            <form class="kellap-detail__content__pajamos__content__buttons--del " action="/kellap/<%= kellap._id %>/rida/<%=kellap.rida[0]._id%>?_method=DELETE"
                                                method="POST">
                                                <button class="kellap-detail__content__pajamos__content__buttons--btn kellap-detail__content__pajamos__content__buttons">TRINTI</button>
                                            </form>
                                        </div>
                                        <% }%>
                                </div>
                                <% }); %>
                                    <hr>

                                    <div class="kellap-detail__content__pajamos__content__footer">
                                        <span>Kuro norma:
                                            <span class="kurnorma"></span>
                                            Litr/100km
                                        </span>
                                        <span>Rida:
                                            <span class="kurnorma"></span>
                                            km
                                        </span>

                                    </div>
                                    <% }%>

            </div>
        </div>
        <div class="kellap-detail__content__pajamos">
            <div class="kellap-detail__content__pajamos__header">
                KURAS
            </div>
            <div class="kellap-detail__content__pajamos__content">
                <p class="kellap-detail__content__pajamos--newItem">
                    <a class="kellap-detail__content__pajamos--link" href="/kellap/<%=kellap._id%>/kur/new">
                        <svg class="data__page-header--icon">
                            <use xlink:href="/img/sprite.svg#icon-new-message">
                        </svg>Suvesti kurą</a>
                </p>
                <div class="kellap-detail__content__pajamos__content__header">
                    <span class="kellap-detail__content__pajamos__content__header element-d">Data</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">Kiekis litr.</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">Kuro šaltinis</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">Kuro norma</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">
                        <span class="kellap-detail__content__pajamos__content__header element">Redaguoti</span>
                        <span class="kellap-detail__content__pajamos__content__header element">Trinti</span>
                    </span>
                </div>
                <% kellap.kuras.forEach(function(kuras){ %>
                    <div id="myData" class="kellap-detail__content__pajamos__content__body">
                        <div class="kellap-detail__content__pajamos__content__body--main element-d">
                            <%=kuras.datekur%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main kuras element-d">
                            <%=kuras.kiekiskur%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-d">
                            <%=kuras.ikurouzpkodas%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-d">
                            Norma
                        </div>
                        <% if(currentUser && kuras.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                            <div class="kellap-detail__content__pajamos__content__buttons element-d">
                                <a class=" kellap-detail__content__pajamos__content__buttons--edit kellap-detail__content__pajamos__content__buttons" href="/kellap/<%= kellap._id %>/kur/<%=kuras._id%>/edit">
                                    REDAGUOTI</a>
                                <form class="kellap-detail__content__pajamos__content__buttons--del " action="/kellap/<%= kellap._id %>/kur/<%=kuras._id%>?_method=DELETE"
                                    method="POST">
                                    <button class="kellap-detail__content__pajamos__content__buttons--btn kellap-detail__content__pajamos__content__buttons">TRINTI</button>
                                </form>
                            </div>
                            <% }%>
                    </div>
                    <hr>
                    <% }); %>
                        <div class="kellap-detail__content__pajamos__content__footer">
                            <span>Užpilta kuro:
                                <span class="kursuma"></span>
                                Litr
                            </span>

                        </div>

            </div>
        </div>
    </div>
    <script src='/scripts/kellapdetailkuras.js'></script>
    <script language="JavaScript" type="text/javascript" src='/scripts/suvestaskellapas.js'></script>

    <body onload="myFunction2(); myFunction3(); myFunction4(); myFunction5();">
        <% include ../partials/footer %>