<% include ../partials/header %>

    <!--
    <div class="data">
        <div class="data__page-header--main">
            <%= kellap.marke %>
                <%= kellap.modelis %>
                    <%= kellap.valstnr %>
                        <%= kellap.inventnr %>
                            <br>
                            <small class="data__page-header--second">Keliones lapo data
                                <%= kellap.data %>
                            </small>
                            <p class="data__page-header--second">Kelionės lapo paskaita, pajamos iš objektų, kuro apskaita</p>
        </div>
        <a href="/kellap" class="data-editForm__link">
            <svg class="data-editForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg> Atgal</a>
    </div>
    <div class='kellap-detail__content'>
        <div class="kellap-detail__content__pajamos">
            <div class="kellap-detail__content__pajamos__header">
                PAJAMOS
            </div>
            <div class="kellap-detail__content__pajamos__content">
                <p class="kellap-detail__content__pajamos--newItem">
                    <a class="kellap-detail__content__pajamos--link" href="/kellap/<%=kellap._id%>/paj/new">
                        <svg class="data__page-header--icon">
                            <use xlink:href="/img/sprite.svg#icon-new-message">
                        </svg>Suvesti pajamas</a>
                </p>
                <div class="kellap-detail__content__pajamos__content__header">
                    <span class="kellap-detail__content__pajamos__content__header element-a">Darbo rūšis</span>
                    <span class="kellap-detail__content__pajamos__content__header element-b">Kiekis</span>
                    <span class="kellap-detail__content__pajamos__content__header element-b">Suma EUR</span>
                    <span class="kellap-detail__content__pajamos__content__header element-b">Objektas</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">DV parašas</span>
                    <span class="kellap-detail__content__pajamos__content__header element-c">Įmonė</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">
                        <span class="kellap-detail__content__pajamos__content__header element">Redaguoti</span>
                        <span class="kellap-detail__content__pajamos__content__header element">Trinti</span>
                    </span>
                </div>
                <% kellap.pajamos.forEach(function(pajamos){ %>
                    <div id="myData" class="kellap-detail__content__pajamos__content__body">
                        <div class="kellap-detail__content__pajamos__content__body--main element-a">
                            <%=pajamos.iadarbrus%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-b">
                            <%=pajamos.kiekis%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-b">
                            <%=pajamos.sumeur%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-b">
                            <%=pajamos.iobjkodas%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-d">
                            <%=pajamos.idvVardasPav%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-c">
                            <%=pajamos.imonkodas%>
                        </div>
                        <% if(currentUser && pajamos.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                            <div class="kellap-detail__content__pajamos__content__buttons element-d">
                                <a class=" kellap-detail__content__pajamos__content__buttons--edit kellap-detail__content__pajamos__content__buttons" href="/kellap/<%= kellap._id %>/paj/<%=pajamos._id%>/edit">
                                    REDAGUOTI</a>
                                <form class="kellap-detail__content__pajamos__content__buttons--del " action="/kellap/<%= kellap._id %>/paj/<%=pajamos._id%>?_method=DELETE"
                                    method="POST">
                                    <button class="kellap-detail__content__pajamos__content__buttons--btn kellap-detail__content__pajamos__content__buttons">TRINTI</button>
                                </form>
                            </div>
                            <% }%>
                    </div>
                    <hr>
                    <% }); %>
            </div>
        </div>
        <div class="kellap-detail__content__pajamos">
            <div class="kellap-detail__content__pajamos__header">
                KURAS
            </div>
            <div class="kellap-detail__content__pajamos__content">
                <p class="kellap-detail__content__pajamos--newItem">
                    <a class="kellap-detail__content__pajamos--link" href="/kellap/<%=kellap._id%>/kur/new">
                        <svg class="data__page-header--icon">
                            <use xlink:href="/img/sprite.svg#icon-new-message">
                        </svg>Suvesti kurą</a>
                </p>
                <div class="kellap-detail__content__pajamos__content__header">
                    <span class="kellap-detail__content__pajamos__content__header element-d">Data</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">Kiekis litr.</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">Kuro šaltinis</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">Kuro norma</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">
                        <span class="kellap-detail__content__pajamos__content__header element">Redaguoti</span>
                        <span class="kellap-detail__content__pajamos__content__header element">Trinti</span>
                    </span>
                </div>
                <% kellap.kuras.forEach(function(kuras){ %>
                    <div id="myData" class="kellap-detail__content__pajamos__content__body">
                        <div class="kellap-detail__content__pajamos__content__body--main element-d">
                            <%=kuras.datekur%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-d">
                            <%=kuras.kiekiskur%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-d">
                            <%=kuras.ikurouzpkodas%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-d">
                            Norma
                        </div>
                        <% if(currentUser && kuras.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                            <div class="kellap-detail__content__pajamos__content__buttons element-d">
                                <a class=" kellap-detail__content__pajamos__content__buttons--edit kellap-detail__content__pajamos__content__buttons" href="/kellap/<%= kellap._id %>/kur/<%=kuras._id%>/edit">
                                    REDAGUOTI</a>
                                <form class="kellap-detail__content__pajamos__content__buttons--del " action="/kellap/<%= kellap._id %>/kur/<%=kuras._id%>?_method=DELETE"
                                    method="POST">
                                    <button class="kellap-detail__content__pajamos__content__buttons--btn kellap-detail__content__pajamos__content__buttons">TRINTI</button>
                                </form>
                            </div>
                            <% }%>
                    </div>
                    <hr>
                    <% }); %>
            </div>
        </div>
    </div> -->























    <div class="container" onloadeddata="myFunction2()">
        <header class="jumbotron">
            <h1>
                <%= kellap.marke %>
                    <%= kellap.modelis %>
                        <%= kellap.valstnr %>
                            <%= kellap.inventnr %>
                                <!--  <hr> -->
                                <h2>Keliones lapo data
                                    <%= kellap.data %>
                                </h2>

                                <a class='btn btn-info btn-sm' href='/kellap'>Atgal</a>
                                <br></br>
                                <label class="custom-control custom-checkbox"> Suvestas keliones lapas
                                    <input id="myInput7" type="checkbox" class="custom-control-input" onclick="myFunction1()" name='suvestas'>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description"></span>
                                </label> Pajamos is objekto:
                                <h6 style='display:inline;' readonly></h6> EUR; Uzpilta kuro:
                                <h6 style='display:inline;' readonly></h6> Litr
    </div>
    <div class='container'>
        <table id='myTable' class="table table-hover">
            <thead>
                <div>PAJAMOS
                    <a class="btn btn-sm btn-success" href="/kellap/<%=kellap._id%>/paj/new">Suvesti pajamas</a>
                </div>
                <td>
                    <strong>Darbo rusis</strong>
                </td>
                <td>
                    <strong>Kiekis</strong>
                </td>
                <td>
                    <strong>Suma EUR</strong>
                </td>
                <td>
                    <strong>Objekto kodas, Pagr Darbu vadovas</strong>
                </td>
                <td>
                    <strong>Darbu vadovo Parasas</strong>
                </td>
                <td>
                    <strong>Imone</strong>
                </td>
            </thead>
            <tbody>
                <% kellap.pajamos.forEach(function(pajamos){ %>
                    <tr>
                        <td style='width:220px;'>
                            <%=pajamos.iadarbrus%>
                        </td>
                        <td>
                            <%=pajamos.kiekis%>
                        </td>
                        <td>
                            <%=pajamos.sumeur%>
                        </td>
                        <td>
                            <%=pajamos.iobjkodas%>
                        </td>
                        <td>
                            <%=pajamos.idvVardasPav%>
                        </td>
                        <td>
                            <%=pajamos.imonkodas%>
                        </td>
                        <td>
                            <% if(currentUser && pajamos.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <a class="btn btn-sm btn-warning" href="/kellap/<%= kellap._id %>/paj/<%=pajamos._id%>/edit">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> REDAGUOTI</a>
                                <% }%>
                        </td>
                        <td>
                            <% if(currentUser && pajamos.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <form id="delete-form" action="/kellap/<%= kellap._id %>/paj/<%=pajamos._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash-o"></i> TRINTI</button>
                                </form>
                                <% }%>
                    </tr>
                    </td>
                    <% }); %>
            </tbody>
        </table>
    </div>
    <div class='container'>
        <table id='myTable1' class="table table-hover">
            <thead>
                <div>KURAS
                    <a class="btn btn-sm btn-success" href="/kellap/<%=kellap._id%>/kur/new">Suvesti kura</a>
                </div>
                <td>Kuro saltinis</td>
                <td>Kiekis Litr</td>
                <td>Data</td>
                <td>Kuro norma</td>
            </thead>
            <tbody>
                <% kellap.kuras.forEach(function(kuras){ %>
                    <tr>
                        <td>
                            <%=kuras.ikurouzpkodas%>
                        </td>
                        <td>
                            <%=kuras.kiekiskur%>
                        </td>
                        <td>
                            <%=kuras.datekur%>
                        </td>
                        <td>Norma</td>
                        <td>
                            <% if(currentUser && kuras.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <a class="btn btn-sm btn-warning" href="/kellap/<%= kellap._id %>/kur/<%=kuras._id%>/edit">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> REDAGUOTI</a>
                                <% }%>
                        </td>
                        <td>
                            <% if(currentUser && kuras.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <form id="delete-form" action="/kellap/<%= kellap._id %>/kur/<%=kuras._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash-o"></i> TRINTI</button>
                                </form>
                                <% }%>
                    </tr>
                    </td>
                    <% }); %>
            </tbody>
        </table>

        <!-- <onload="myFunction2(); myFunction3();"> -->
        <script src='/scripts/kellapdetailkuras.js'></script>
        <!-- <script language="JavaScript" type="text/javascript" src='/scripts/suvestaskellapas.js'></script> -->
        <% include ../partials/footer %>