<% include ../partials/header %>

    <div class="data">
        <div class="data__page-header--main">
            <%= kellap.marke %>
                <%= kellap.modelis %>
                    <%= kellap.valstnr %>
                        <%= kellap.inventnr %>
                            <br>
                            <small class="data__page-header--second">Keliones lapo data
                                <%= kellap.data %>
                            </small>
                            <p class="data__page-header--second">Kelionės lapo paskaita, pajamos iš objektų, kuro apskaita</p>
        </div>
        <a href="/kellap" class="data-editForm__link">
            <svg class="data-editForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg> Atgal</a>
    </div>
    <div class='kellap-detail__content'>
        <div class="kellap-detail__content__pajamos">
            <div class="kellap-detail__content__pajamos__header">
                PAJAMOS
            </div>
            <div class="kellap-detail__content__pajamos__content">
                <p class="kellap-detail__content__pajamos--newItem">
                    <a class="kellap-detail__content__pajamos--link" href="/kellap/<%=kellap._id%>/paj/new">
                        <svg class="data__page-header--icon">
                            <use xlink:href="/img/sprite.svg#icon-new-message">
                        </svg>Suvesti pajamas</a>
                </p>
                <div class="kellap-detail__content__pajamos__content__header">
                    <span class="kellap-detail__content__pajamos__content__header element-a">Darbo rūšis</span>
                    <span class="kellap-detail__content__pajamos__content__header element-b">Kiekis</span>
                    <span class="kellap-detail__content__pajamos__content__header element-b">Suma EUR</span>
                    <span class="kellap-detail__content__pajamos__content__header element-b">Objektas</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">DV parašas</span>
                    <span class="kellap-detail__content__pajamos__content__header element-c">Įmonė</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">
                        <span class="kellap-detail__content__pajamos__content__header element">Redaguoti</span>
                        <span class="kellap-detail__content__pajamos__content__header element">Trinti</span>
                    </span>
                </div>
                <% kellap.pajamos.forEach(function(pajamos){ %>
                    <div id="myData" class="kellap-detail__content__pajamos__content__body">
                        <div class="kellap-detail__content__pajamos__content__body--main element-a">
                            <%=pajamos.iadarbrus%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-b">
                            <%=pajamos.kiekis%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-b">
                            <%=pajamos.sumeur%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-b">
                            <%=pajamos.iobjkodas%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-d">
                            <%=pajamos.idvVardasPav%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-c">
                            <%=pajamos.imonkodas%>
                        </div>
                        <% if(currentUser && pajamos.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                            <div class="kellap-detail__content__pajamos__content__buttons element-d">
                                <a class=" kellap-detail__content__pajamos__content__buttons--edit kellap-detail__content__pajamos__content__buttons" href="/kellap/<%= kellap._id %>/paj/<%=pajamos._id%>/edit">
                                    REDAGUOTI</a>
                                <form class="kellap-detail__content__pajamos__content__buttons--del " action="/kellap/<%= kellap._id %>/paj/<%=pajamos._id%>?_method=DELETE"
                                    method="POST">
                                    <button class="kellap-detail__content__pajamos__content__buttons--btn kellap-detail__content__pajamos__content__buttons">TRINTI</button>
                                </form>
                            </div>
                            <% }%>
                    </div>
                    <hr>
                    <% }); %>
            </div>
        </div>
        <div class="kellap-detail__content__pajamos">
            <div class="kellap-detail__content__pajamos__header">
                KURAS
            </div>
            <div class="kellap-detail__content__pajamos__content">
                <p class="kellap-detail__content__pajamos--newItem">
                    <a class="kellap-detail__content__pajamos--link" href="/kellap/<%=kellap._id%>/kur/new">
                        <svg class="data__page-header--icon">
                            <use xlink:href="/img/sprite.svg#icon-new-message">
                        </svg>Suvesti kurą</a>
                </p>
                <div class="kellap-detail__content__pajamos__content__header">
                    <span class="kellap-detail__content__pajamos__content__header element-d">Data</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">Kiekis litr.</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">Kuro šaltinis</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">Kuro norma</span>
                    <span class="kellap-detail__content__pajamos__content__header element-d">
                        <span class="kellap-detail__content__pajamos__content__header element">Redaguoti</span>
                        <span class="kellap-detail__content__pajamos__content__header element">Trinti</span>
                    </span>
                </div>
                <% kellap.kuras.forEach(function(kuras){ %>
                    <div id="myData" class="kellap-detail__content__pajamos__content__body">
                        <div class="kellap-detail__content__pajamos__content__body--main element-d">
                            <%=kuras.datekur%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-d">
                            <%=kuras.kiekiskur%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-d">
                            <%=kuras.ikurouzpkodas%>
                        </div>
                        <div class="kellap-detail__content__pajamos__content__body--main element-d">
                            Norma
                        </div>
                        <% if(currentUser && kuras.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                            <div class="kellap-detail__content__pajamos__content__buttons element-d">
                                <a class=" kellap-detail__content__pajamos__content__buttons--edit kellap-detail__content__pajamos__content__buttons" href="/kellap/<%= kellap._id %>/kur/<%=kuras._id%>/edit">
                                    REDAGUOTI</a>
                                <form class="kellap-detail__content__pajamos__content__buttons--del " action="/kellap/<%= kellap._id %>/kur/<%=kuras._id%>?_method=DELETE"
                                    method="POST">
                                    <button class="kellap-detail__content__pajamos__content__buttons--btn kellap-detail__content__pajamos__content__buttons">TRINTI</button>
                                </form>
                            </div>
                            <% }%>
                    </div>
                    <hr>
                    <% }); %>
            </div>
        </div>
    </div>
    <onload="myFunction2(); myFunction3();">
        <script src='/scripts/kellapdetailkuras.js'></script>
        <script src='/scripts/suvestaskellapas.js'></script>
        <% include ../partials/footer %>