<% include ../partials/header %>
    <legend class="data-editForm__legend">
        KELIONĖS LAPAI
    </legend>
    <p class="data__page-header--new-item">
        <a href="/kellap/newkr" class="data__page-header--link">
            <svg class="data__page-header--icon">
                <use xlink:href="/img/sprite.svg#icon-new-message"></use>
            </svg> Naujas krovininio automobilio kelionės lapas</a>
        </a>
    </p>
    <p class="data__page-header--new-item">
        <a href="/kellap/newmech" class="data__page-header--link">
            <svg class="data__page-header--icon">
                <use xlink:href="/img/sprite.svg#icon-new-message"></use>
            </svg> Naujas mechanizmo kelionės lapas</a>
        </a>
    </p>
    <p class="data__page-header--new-item">
        <a href="/kellap/newlen" class="data__page-header--link">
            <svg class="data__page-header--icon">
                <use xlink:href="/img/sprite.svg#icon-new-message"></use>
            </svg> Naujas lengvojo automobilio kelionės lapas</a>
        </a>
    </p>
    <p class="data__page-header--new-item">
        <a href="/kellap/newmm" class="data__page-header--link">
            <svg class="data__page-header--icon">
                <use xlink:href="/img/sprite.svg#icon-new-message"></use>
            </svg> Naujas MM kelionės lapas</a>
        </a>
    </p>
    <div class="kellap-filter">
        <div class="kellap-filter__element">
            <label class="kellap-filter__element__label" for="">Data</label>
            <input type="text" id="myInput1" onkeyup="myFunction1()" placeholder="Data" class="kellap-filter__element__body">
        </div>
        <div class="kellap-filter__element">
            <label class="kellap-filter__element__label" for="">Valst Nr.</label>
            <input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Valst Nr." class="kellap-filter__element__body">
        </div>
        <div class="kellap-filter__element">
            <label class="kellap-filter__element__label" for="">Invent. Nr.</label>
            <input type="text" id="myInput6" onkeyup="myFunction6()" placeholder="Invent. Nr." class="kellap-filter__element__body">
        </div>
        <div class="kellap-filter__element">
            <label class="kellap-filter__element__label" for="">Bazė</label>
            <input type="text" id="myInput3" onkeyup="myFunction3()" placeholder="Bazė" class="kellap-filter__element__body">
        </div>
        <div class="kellap-filter__element">
            <label class="kellap-filter__element__label" for="">Tr. rūšis</label>
            <input type="text" id="myInput4" onkeyup="myFunction4()" placeholder="Tr. rūšis" class="kellap-filter__element__body">
        </div>
        <div class="kellap-filter__element">
            <label class="kellap-filter__element__label" for="">Autorius</label>
            <input type="text" id="myInput5" onkeyup="myFunction5()" placeholder="Autorius" class="kellap-filter__element__body">
        </div>
    </div>



    <div class="kellap-data">
        <div class="kellap-data__header">
            <span class="kellap-data__header--ellement--b">Data</span>
            <span class="kellap-data__header--ellement">Markė</span>
            <span class="kellap-data__header--ellement">Modelis</span>
            <span class="kellap-data__header--ellement--b">Valst. Nr.</span>
            <span class="kellap-data__header--ellement--b">Invent. Nr.</span>
            <span class="kellap-data__header--ellement--a">Pag. Vair</span>
            <span class="kellap-data__header--ellement--b">Bazė</span>
            <span class="kellap-data__header--ellement--a">Transp. Rūšis</span>
            <span class="kellap-data__header--ellement">Detali informacija</span>
            <span class="kellap-data__header--ellement">Trinti</span>
        </div>
        <% allkellap.forEach(function(kellap){ %>
            <div id="myData" class="kellap-data__row">
                <div class="kellap-data__row__element--b">
                    <%=kellap.data%>
                </div>
                <div class="kellap-data__row__element">
                    <%=kellap.marke%>
                </div>
                <div class="kellap-data__row__element">
                    <%=kellap.modelis%>
                </div>
                <div class="kellap-data__row__element--b">
                    <%=kellap.valstnr%>
                </div>
                <div class="kellap-data__row__element--b">
                    <%=kellap.inventnr%>
                </div>
                <div class="kellap-data__row__element--a">
                    <%=kellap.ipagvair%>
                </div>
                <div class="kellap-data__row__element--b">
                    <%=kellap.baze%>
                </div>
                <div class="kellap-data__row__element--a">
                    <%=kellap.itrrus%>
                </div>
                <div class="kellap-data__row__element">
                    <a href="/kellap/<%= kellap._id %>/detail" class="kellap-data__row__element--link">Detali informacija</a>
                </div>
                <div class="kellap-data__row__element">
                    <% if(currentUser && kellap.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <form action="/kellap/<%= kellap._id %>?_method=DELETE" method="POST" class="kellap-data__row__element--delform">
                            <button class="kellap-data__row__element--delbtn">
                                TRINTI</button>
                        </form>
                        <% }%>
                </div>
            </div>
            <hr>
            <% }); %>
    </div>
    <script src='/scripts/kellapfilter.js'></script>
    <% include ../partials/footer %>