<% include ../partials/header %>
    <div class="container-fluid">
        <header class="jumbotron">
            <h1 style="text-align: center">Suvesti pajamas
                <%= data.auto.marke %>
                    <%= data.auto.modelis %>
                        <%= data.auto.valstnr %>
            </h1>
            <div class="text-right">
                <a class="btn btn-success" href='/autokrov/<%=data.auto.autoObjectId%>'>Automobilio duomenys</a>
            </div>
        </header>
    </div>
    <div class="container-fluid">
        <div class="col-12">
            <form action="/kellap/<%= data.auto._id %>/paj" method="POST">
                <div class="row">
                    <div hidden>
                        <input class="form-control" type="text" placeholder="doc" name="kellap[doc]" hidden value='kellapajamos'></input>
                    </div>
                    <div class="col">
                        <select onchange="myFunction1()" class="custom-select" id='ikainis' name="kellap[iadarbrus]">
            <option selected >Darbo rusis, vnt, kaina</option>
            <% data.ikainis.forEach(function(data){ %>
              <% if(data.idarbrus !== undefined){ %>
            <option><%= data.idarbrus %>, <%= data.idarbvnt %>, <%= data.trikain %></option>
            <% } %>
            <% }); %>
          </select>
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="Kiekis" id='kiekis' onkeyup="myFunction1()" name="kellap[kiekis]">
                    </div>
                    <div class="col">
                        <input id='sumeur' class="form-control" type='text' name="kellap[sumeur]" readonly></input>
                    </div>
                    <!--*****************************************************-->
                    <div class="col">
                        <select class="custom-select" name="kellap[iobjkodas]">
            <option selected>Objektas, Pagr. Darbu Vadovas</option>
            <% data.objektas.forEach(function(data){ %>
                <% if(data.objkodas !== undefined){ %>
                <option>
                  <%=data.objkodas%>, <%=data.dvVardasPav%></option>
              <% } %>
            <% }); %>
          </select>
                    </div>

                    <div class="col">
                        <select class="custom-select" name="kellap[idvVardasPav]">
            <option selected >Darbu Vadovas</option>
            <% data.dv.forEach(function(data){ %>
              <% if(data.dvVardasPav !== undefined){ %>
              <option><%=data.dvVardasPav%></option>
              <% } %>
            <% }); %>
          </select>
                    </div>
                    <!--*****************************************************-->
                    <div class="col">
                        <select class="custom-select" name="kellap[imonkodas]">
            <option  selected>Fegda</option>
            <% data.imone.forEach(function(data){ %>
              <% if(data.imonessutrumpkodas !== undefined){ %>
              <option><%= data.imonessutrumpkodas %></option>
              <% } %>
            <% }); %>
          </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block"><i class="fa fa-plus" aria-hidden="true"></i> Sukurti</button>
                    </div>
                </div>
            </form>
            <a href="/kellap/<%= data.auto._id %>/detail"><i class="fa fa-arrow-left" aria-hidden="true"></i> Atgal</a>
        </div>
    </div>

    <script src='/scripts/ikainisfilter.js'></script>

    <% include ../partials/footer %>