<% include ../partials/header %>
    <form action="/kellap/<%= data.auto._id %>/paj" method="POST">
        <legend class="data-newForm__legend">Suvesti pajamas
            <%= data.auto.marke %>
                <%= data.auto.modelis %>
                    <%= data.auto.valstnr %>
        </legend>
        <a href="/kellap/<%= data.auto._id %>/detail" class="data-newForm__link">
            <svg class="data-newForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg>Atgal</a>
        <a href='/autokrov/<%=data.auto.autoObjectId%>' class="data-newForm__link">
            <svg class="data-newForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg>Automobilio duomenys</a>
        <!-- Form Name -->

        <div class="data-newForm__content">
            <!-- Text input-->
            <div class="data-newForm__content__input--hidden">
                <label class="data-newForm__content__input--label" for="doc">kellapajamos</label>
                <div class="data-newForm__content__input--body">
                    <input id="doc" name="kellap[doc]" type="text" placeholder="kellapajamos" class="data-newForm__content__input--body--text"
                        value="kellapajamos">
                    <span class="data-newForm__content__input--body--span">kellapajamos</span>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="idvVardasPav">Darbo rūšis, vnt, kaina</label>
                <div class="data-newForm__content__input--body">
                    <select id='ikainis' onchange="myFunction1()" name="kellap[iadarbrus]" class="data-newForm__content__input--body--text">
                        <% data.ikainis.forEach(function(data){ %>
                            <% if(data.idarbrus !== undefined){ %>
                                <option class="data-newForm__content__input--body--text">
                                    <%= data.idarbrus %>,
                                        <%= data.idarbvnt %>,
                                            <%= data.trikain %>
                                </option>
                                <% }; %>
                                    <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Pasirinkite rūšį, vnt, kainą</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="Kiekis">Kiekis</label>
                <div class="data-newForm__content__input--body">
                    <input id="kiekis" name="kellap[kiekis]" onkeyup="myFunction1()" type="text" placeholder="Kiekis" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">įrašykite darbų kiekį</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="sumeur">Suma</label>
                <div class="data-newForm__content__input--body">
                    <input id="sumeur" name="kellap[sumeur]" type="text" placeholder="Suma" class="data-newForm__content__input--body--text sumeur">
                    <span class="data-newForm__content__input--body--span">Suma, EUR </span>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="kellap[iobjkodas]">Objektas, Pagr. Darbų Vadovas</label>
                <div class="data-newForm__content__input--body">
                    <select name="kellap[iobjkodas]" class="data-newForm__content__input--body--text">
                        <% data.objektas.forEach(function(data){ %>
                            <% if(data.objkodas !== undefined){ %>
                                <option class="data-newForm__content__input--body--text" value="<%=data.objkodas%>">
                                    <%=data.objkodas%>,
                                        <%=data.idvVardasPav%>
                                </option>
                                <% }; %>
                                    <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Pasirinkite Objektą, pagr. Darbų Vadovą</span>
                </div>
            </div>
            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="kellap[idvVardasPav]">Pasirašė dokumentą</label>
                <div class="data-newForm__content__input--body">
                    <select name="kellap[idvVardasPav]" class="data-newForm__content__input--body--text">
                        <option selected class="data-newForm__content__input--body--text" value="">
                        </option>
                        <% data.dv.forEach(function(data){ %>
                            <% if(data.dvVardasPav !== undefined){ %>
                                <option class="data-newForm__content__input--body--text">
                                    <%=data.dvVardasPav%>
                                </option>
                                <% }; %>
                                    <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Jeigu ne pagr. DV, Pasirinkite Darbų Vadovą kuris pasirašė ant dokumento</span>
                </div>
            </div>
            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="kellap[imonkodas]">Įmonė</label>
                <div class="data-newForm__content__input--body">
                    <select name="kellap[imonkodas]" class="data-newForm__content__input--body--text">
                        <% data.imone.forEach(function(data){ %>
                            <% if(data.imonessutrumpkodas !== undefined){ %>
                                <option class="data-newForm__content__input--body--text">
                                    <%= data.imonessutrumpkodas %>
                                </option>
                                <% }; %>
                                    <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Pasirinkite Įmonę</span>
                </div>
            </div>



            <!-- Button -->
            <div class="data-editForm__button">
                <button name="submit" class="data-editForm__button--submit ">
                    <svg class="data-editForm__button--submit--icon">
                        <use xlink:href="/img/sprite.svg#icon-new-message">
                    </svg> Sukurti
                </button>
            </div>
        </div>
    </form>
    <script src='/scripts/ikainisfilter.js'></script>
    <% include ../partials/footer %>