<% include ../partials/header %>

    <div class="page-header">
        <h1>ĮMONIŲ KATALOGAS
            <small>Sukurti naują, redaguoti, trinti</small>
        </h1>
            <p>
                <a class="btn btn-primary btn-large" href="/imones/new">Nauja įmonė</a>
                <a class="btn btn-primary btn-large" href="/imones/import">Importuoti įmones</a>
            </p>
    </div>
    <div class="row">
        <% allimones.forEach(function(imone){ %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            <strong>
                                <%= imone.imonessutrumpkodas %>
                            </strong>
                        </h3>

                        <p>pavadinimas:
                            <%= imone.imonespavadinimas %>
                        </p>
                        <p>
                            <a href="/imones/<%= imone._id %>" class="btn btn-primary">Detali INFO</a>
                            <% if(currentUser && imone.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <a class="btn btn-primary" role="button" href="/imones/<%= imone._id%>/edit">REDAGUOTI</a>
                                <% }%>
                                    <form id="delete-form" action="/imones/<%=imone._id%>?_method=DELETE" , method=POST>
                                        <button class="btn btn-danger">TRINTI</button>
                                    </form>
                        </p>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>
    <% include ../partials/footer %>