<% include ../partials/header %>
    <div class="data">
        <div class="data__page-header--main">ĮMONIŲ KATALOGAS
            <small class="data__page-header--second">Sukurti naują, redaguoti, trinti</small>
        </div>
        <p class="data__page-header--new-item">
            <a class="data__page-header--link" href="/imones/new">
                <svg class="data__page-header--icon">
                    <use xlink:href="img/sprite.svg#icon-publish">
                </svg>Nauja įmonė</a>
            <a class="data__page-header--link" href="/imones/import">
                <svg class="data__page-header--icon">
                    <use xlink:href="img/sprite.svg#icon-publish">
                </svg>Importuoti įmones</a>
        </p>
    </div>
    <div class="data__page-data">
        <% allimones.forEach(function(imone){ %>
            <div class="data__page-data__main-tab">
                <div class="data__page-data__main-tab--header">
                    <%= imone.imonessutrumpkodas %>
                </div>
                <div class="data__page-data__main-tab--content">pavadinimas:
                    <%= imone.imonespavadinimas %>
                </div>
                <a class="data__page-data__main-tab--detail" href="/imones/<%= imone._id %>" class="btn btn-primary">Detali informacija</a>
                <% if(currentUser && imone.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="data__page-data__main-tab--buttons">
                        <a class="data__page-data__main-tab--buttons--edit" href="/imones/<%= imone._id%>/edit">
                            <i class="fa fa-pencil" aria-hidden="true"></i> REDAGUOTI</a>
                        <form class="data__page-data__main-tab--buttons--del" action="/imones/<%=imone._id%>?_method=DELETE" , method=POST>
                            <button class="data__page-data__main-tab--buttons--btn"> TRINTI</button>
                        </form>
                    </div>
                    <% }%>
            </div>
            <% }); %>
    </div>
    <% include ../partials/footer %>