<% include ../partials/header %> 
<div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Transporto valdymo modulis!</h1>
             <p>Imoniu katalogas</p>
             <p>
                <a class="btn btn-primary btn-large" href="/imones/new">Nauja imone</a>
                <a class="btn btn-primary btn-large" href="/imones/import">Import imones</a>
             </p>
         </div>
     </header>
     
<div class="container">
         <table class="table table-hover"> 
          <thead>
            <tr>
              <th>Strumpintas įmonės kodas</th>
              <th>Pilnas pavadinimas</th>
              <th>Papildoma informacija</th>
              <th>Redaguoti</th>
              <th>Trinti</th>
            </tr>
          </thead>
          <tbody>
            <% allimones.forEach(function(imone){ %>
            <tr>
                <td><%= imone.imonessutrumpkodas %></td>
                <td><%= imone.imonespavadinimas %></td>
                
                <td><a href="/imones/<%= imone._id %>" class="btn btn-xs btn-info">PAPILDOMA INFORMACIJA</a></td>
                
                <td>
                        <a class="btn btn-xs btn-warning " href="/imones/<%= imone._id%>/edit">REDAGUOTI</a>
                   
                </td>
                <td>
                   <form  action="/imones/<%=imone._id%>?_method=DELETE" , method=POST>
                   <button class="btn btn-xs btn-danger">TRINTI</button>
                   </form> 
                </td>
            </tr>
            <% }); %>
          </tbody>
          <tfoot>
            <tr>
              <td>Strumpintas įmonės kodas</td>
              <td>Pilnas pavadinimas</td>
              <td>Papildoma informacija</td>
              <td>Redaguoti</td>
              <td>Trinti</td>
            </tr>
          </tfoot>
    </table>
</div>

<% include ../partials/footer %>
