<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Ivesti nauja ikaini <%= vair.marke %><%= vair.modelis %><%= vair.valstnr %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/vair/<%= vair._id %>/vairik" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="vairik[doc]" value="vairik">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="vairik[vairid]" value="<%= vair._id %>" hidden>
                </div>
                
                <div class="form-group">
                    <select style="width: 100%; height: 34px" name="vairik[idarbrus]" class="custom-select">
                         <option  selected>Pasirinkite darbo rusi</option> 
                        <% darbrus.forEach(function(data){ %>
                            <% if(data.darbrus !== undefined){ %>
                            <option><%= data.darbrus %></option>
                            <% } %>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="vairik[vairikain]" placeholder="Ikainis">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="vairik[idarbvnt]" placeholder="Val, d., tkm.">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/autokrov/<%= vair._id %>">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>

