<% include ../partials/header %>

    <form action="/vair/<%=vair._id%>/vairik" method="POST" class="data-newForm">
        <legend class="data-newForm__legend">Naujas Vairuotojo įkainis</legend>
        <a href="/vair/<%= vair._id %>" class="data-newForm__link">
            <svg class="data-newForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back">
                </use>
            </svg>
            Atgal į Vairuotojo duomenis
        </a>

        <div class="data-newForm__content">
            <!-- Text input-->
            <div class="data-newForm__content__input--hidden">
                <label class="data-newForm__content__input--label" for="vairik[vairid]">Text Input</label>
                <div class="data-newForm__content__input--body">
                    <input id="vairik[vairid]" name="vairik[vairid]" type="text" placeholder="<%= vair._id %>" class="data-newForm__content__input--body--text"
                        value="<%= vair._id %>">
                    <span class="data-newForm__content__input--body--span">help</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input--hidden" hidden>
                <label class="data-newForm__content__input--label" for="vairik[doc]">vairik</label>
                <div class="data-newForm__content__input--body">
                    <input id="vairik[doc]" name="vairik[doc]" type="text" placeholder="vairik" class="data-newForm__content__input--body--text"
                        value="vairik">
                </div>
            </div>

            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="vairik[idarbrus]">Darbo rūšis</label>
                <div class="data-newForm__content__input--body">
                    <select id="vairik[idarbrus]" name="vairik[idarbrus]" class="data-newForm__content__input--body--text">
                        <% darbrus.forEach(function(data){ %>
                            <% if(data.darbrus !== undefined){ %>
                                <option value="<%= data.darbrus %>">
                                    <%= data.darbrus %>
                                </option>
                                <% } %>
                                    <% }); %>
                    </select>
                    <span class="data-newForm__content__input--body--span">Pasirinkite darbo rūšį</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="vairik[vairikain]">Įkainis</label>
                <div class="data-newForm__content__input--body">
                    <input id="vairik[vairikain]" name="vairik[vairikain]" type="text" placeholder="Įkainis" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite įkainį</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="vairik[idarbvnt]">Mato vienetas</label>
                <div class="data-newForm__content__input--body">
                    <input id="vairik[idarbvnt]" name="vairik[idarbvnt]" type="text" placeholder="Val, d., tkm." class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite mato vienetą</span>
                </div>
            </div>

            <!-- Button -->
            <div class="data-editForm__button">
                <button name="submit" class="data-editForm__button--submit ">
                    <svg class="data-editForm__button--submit--icon">
                        <use xlink:href="/img/sprite.svg#icon-new-message">
                    </svg> Sukurti
                </button>
            </div>
        </div>
    </form>

    <% include ../partials/footer %>