<% include ../partials/header %>

    <form action="/dv/<%= dv._id %>?_method=PUT" method="POST" class="form-horizontal">
        <fieldset>
            <a href="/dv"><i class="fa fa-arrow-left" aria-hidden="true"></i> Atgal į Darbų Vadovų sąrašą </a>
            <!-- Form Name -->
            <legend>Redaguoti Darbų Vadovo duomenis:
                <%= dv.dvVadasPav %>
            </legend>
            <hr>

            <!-- Text input-->
            <div class="form-group" hidden>
                <label class="col-md-4 control-label" for="doc">darbvad</label>
                <div class="col-md-4">
                    <input id="doc" name="dv[doc]" type="text" placeholder="darbvad" class="form-control input-md" value="darbvad">
                    <span class="help-block">darbvad</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="dv[dvVadasPav]">Darbų vadovo vardas pavardė</label>
                <div class="col-md-4">
                    <input id="dv[dvVadasPav]" name="dv[dvVadasPav]" type="text" placeholder="Darbu vadovo vardas pavarde" class="form-control input-md"
                        value="<%= dv.dvVadasPav %>">
                    <span class="help-block">Įrašykite darbų vadovo vardą ir pavardę</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="dv[dvkodas]">Darbų vadovo kodas</label>
                <div class="col-md-4">
                    <input id="dv[dvkodas]" name="dv[dvkodas]" type="text" placeholder="Darbu vadovo kodas" class="form-control input-md" value="<%= dv.dvkodas %>">
                    <span class="help-block">Įrašykite darbų vadovo kodą</span>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="dv[ipadkodas]">Darbu vadovo padalinys</label>
                <div class="col-md-4">
                    <select id="dv[ipadkodas]" name="dv[ipadkodas]" class="form-control">
                        <option value="<%= dv.ipadkodas %>">
                            <% pad.forEach(function(pad){ %>
                                <option value="<%= pad.padkodas %>">
                                    <%= pad.padkodas %>
                                </option>
                                <% }); %>
                    </select>
                    <span class="help-block">Pasirinkite padalinio kodą</span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"> Redaguoti</label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i> REDAGUOTI</button>
                </div>
            </div>

        </fieldset>
    </form>
    <%= console.log(dv) %>

        <% include ../partials/footer %>