<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Edit
                <%= dv.dvVadasPav %>
            </h1>
            <div style="width: 30%; margin: 25px auto;">
                <form action="/dv/<%= dv._id %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="dv[dvkodas]" value="<%= dv.dvkodas %>">
                    </div>
                    <div class="form-group">
                        <select style="width: 100%; height: 34px" name="dv[ipadkodas]" class="custom-select">
                     <option  selected><%= dv.ipadkodas %></option> 
                    <% pad.forEach(function(pad){ %>
                        <% if(pad.padkodas !== undefined){ %>
                        <option><%= pad.padkodas %></option>
                        <% } %>
                    <% }); %>
                </select>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="text" name="dv[dvVadasPav]" value="<%= dv.dvVadasPav %>">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Pakeisti !</button>
                    </div>
                </form>
                <a href="/dv">Atgal</a>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>