<% include ../partials/header %>

    <div class="data">
        <div class="data__page-header--main">DARBŲ VADOVAI
            <small class="data__page-header--second">Sukurti naują, redaguoti, trinti</small>
        </div>
        <p class="data__page-header--new-item">
            <a class="data__page-header--link" href="/dv/new">
                <svg class="data__page-header--icon">
                    <use xlink:href="/img/sprite.svg#icon-new-message">
                </svg>Naujas Darbų Vadovas</a>
            <a class="data__page-header--link" href="/dv/import">
                <svg class="data__page-header--icon">
                    <use xlink:href="/img/sprite.svg#icon-new-message">
                </svg>Import DV</a>
        </p>
    </div>
    <div class="data__page-data">
        <% alldv.forEach(function(alldv){ %>
            <div class="data__page-data__main-tab">
                <div class="data__page-data__main-tab--header">

                    <%= alldv.dvVadasPav %>
                </div>
                <div class="data__page-data__main-tab--content">kodas:
                    <%= alldv.dvkodas %>
                </div>
                <div class="data__page-data__main-tab--content">Padalinio kodas:
                    <%= alldv.ipadkodas %>
                </div>


                <% if(currentUser && alldv.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="data__page-data__main-tab--buttons">
                        <a class=" data__page-data__main-tab--buttons--edit " href="/dv/<%=alldv._id%>/edit"> REDAGUOTI</a>
                        <form class="data__page-data__main-tab--buttons--del" action="/dv/<%=alldv._id%>?_method=DELETE" method=POST>
                            <button class="data__page-data__main-tab--buttons--btn">TRINTI</button>
                        </form>
                    </div>
                    <% }%>
            </div>
            <% }); %>
    </div>

    <% include ../partials/footer %>