<% include ../partials/header %>

    <div class="page-header">
        <h1>DARBŲ VADOVAI
            <small>Sukurti naują, redaguoti, trinti</small>
        </h1>
            <p>
                <a class="btn btn-primary btn-large" href="/dv/new"><i class="fa fa-plus" aria-hidden="true"></i> Naujas Darbų Vadovas</a>
                <a class="btn btn-primary btn-large" href="/dv/import">Import DV</a>
            </p>
    </div>
    <div class="row">
        <% alldv.forEach(function(alldv){ %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            <strong>
                                <%= alldv.dvVadasPav %>
                            </strong>
                        </h3>

                        <p>kodas:
                            <%= alldv.dvkodas %>
                        </p>
                        <p> Padalinio kodas:
                            <%= alldv.ipadkodas %>
                        </p>

                        <p>
                            <% if(currentUser && alldv.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <a class="btn btn-primary" role="button" href="/dv/<%= alldv._id%>/edit"><i class="fa fa-pencil" aria-hidden="true"></i> REDAGUOTI</a>
                                <% }%>
                                    <form id="delete-form" action="/dv/<%=alldv._id%>?_method=DELETE" , method=POST>
                                        <button class="btn btn-danger"><i class="fa fa-trash-o"></i>  TRINTI</button>
                                    </form>
                        </p>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>
    <% include ../partials/footer %>