<% include ../partials/header %>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Transporto valdymo modulis!</h1>
                <p>Kuro saltiniai</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/kuruzp/new">Naujas kuro saltinis</a>
                </p>
            </div>
        </header>

        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Trumpas Kodas</th>
                        <th>Degalines pavadinimas</th>
                        <th>Korteles numeris</th>
                        <th>Redaguoti</th>
                        <th>Trinti</th>
                    </tr>
                </thead>
                <tbody>
                    <% allkuruzp.forEach(function(allkuruzp){ %>
                        <tr>
                            <td>
                                <%= allkuruzp.kurouzpkodas %>
                            </td>
                            <td>
                                <%= allkuruzp.kurouzppav %>
                            </td>
                            <td>
                                <%= allkuruzp.kurouzpkortnr %>
                            </td>
                            <td><a class="btn btn-xs btn-warning" href="/kuruzp/<%= allkuruzp._id%>/edit">REDAGUOTI</a>
                                <td>
                                    <form id="delete-form" action="/kuruzp/<%=allkuruzp._id%>?_method=DELETE" , method=POST>
                                        <button class="btn btn-xs btn-danger">TRINTI</button>
                                    </form>
                                </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>

        <% include ../partials/footer %>