<% include ../partials/header %>
    <div class="page-header">
        <h1>KURO ŠALTINIAI
            <small>Sukurti naują, redaguoti, trinti</small>
        </h1>
        <p>
            <a class="btn btn-primary btn-large" href="/kuruzp/new"><i class="fa fa-plus" aria-hidden="true"></i> Naujas kuro šaltinis</a>
        </p>
    </div>
    <div class="row">
        <% allkuruzp.forEach(function(allkuruzp){ %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            <strong>
                                <%= allkuruzp.kurouzpkodas %>
                            </strong>
                        </h3>
                        <h4>
                            <p>
                                Tiekėjas:
                                <%= allkuruzp.kurouzppav %>
                            </p>
                            <p>
                                Kortelės Nr.
                                <%= allkuruzp.kurouzpkortnr %>
                            </p>
                        </h4>
                        <p>
                            <a href="/kuruzp/<%= allkuruzp._id%>/edit" class="btn btn-primary" role="button"><i class="fa fa-pencil" aria-hidden="true"></i> REDAGUOTI</a>
                            <form id="delete-form" action="/kuruzp/<%=allkuruzp._id%>?_method=DELETE" , method=POST>
                                <button class="btn btn-danger"><i class="fa fa-trash-o"></i>  TRINTI</button>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>
        <% include ../partials/footer %>