<% include ../partials/header %>
    <div class="data">
        <div class="data__page-header--main">KURO ŠALTINIAI
            <small class="data__page-header--second">Sukurti naują, redaguoti, trinti</small>
        </div>
        <p class="data__page-header--new-item">
            <a class="data__page-header--link" href="/kuruzp/new">
                <svg class="data__page-header--icon">
                    <use xlink:href="img/sprite.svg#icon-publish">
                </svg>Naujas kuro šaltinis</a>
        </p>
    </div>
    <div class="data__page-data">
        <% allkuruzp.forEach(function(allkuruzp){ %>
            <div class="data__page-data__main-tab">
                <div class="data__page-data__main-tab--header">
                    <%= allkuruzp.kurouzpkodas %>
                </div>
                <div class="data__page-data__main-tab--content">
                    Tiekėjas:
                    <%= allkuruzp.kurouzppav %>
                </div>
                <div class="data__page-data__main-tab--content">
                    Kortelės Nr.
                    <%= allkuruzp.kurouzpkortnr %>
                </div>
                <% if(currentUser && allkuruzp.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="data__page-data__main-tab--buttons">
                        <a class="data__page-data__main-tab--buttons--edit" href="/kuruzp/<%= allkuruzp._id%>/edit">REDAGUOTI</a>
                        <form class="data__page-data__main-tab--buttons--del" action="/kuruzp/<%=allkuruzp._id%>?_method=DELETE" , method=POST>
                            <button class="data__page-data__main-tab--buttons--btn">
                                TRINTI</button>
                        </form>
                    </div>
                    <% }%>
            </div>
            <% }); %>
    </div>
    <% include ../partials/footer %>